﻿@model IEnumerable<Management.Service.ViewModel.NotificationViewModel>
@using Management.Common;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutTisla.cshtml";
}

<link href="~/Template/assets/modules/izitoast/css/iziToast.min.css" rel="stylesheet" />
<link href="~/Template/sources/scss/theme/_section.css" rel="stylesheet" />
<link href="~/Template/assets/modules/prism/prism.css" rel="stylesheet" />
<link href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.1/summernote.css" rel="stylesheet">

<div class="main-content" @*style="min-height: 874px !important; "*@>
    <section class="section">
        <div class="section-header">
            <h1 id="IdModule" data-id="" data-name="" data-user-id="" data-user-name="@User.Identity.Name">Notification</h1>
            <div class="section-header-breadcrumb">
                <div class="breadcrumb-item active"><a href="/">Home</a></div>
                <div class="breadcrumb-item"><a >Notification</a></div>
            </div>
        </div>
        <div class="section-body">
            <div class="dropdown-list-content dropdown-list-icons">
                @foreach (var item in Model)
                {
                    switch (item.TypeId)
                    {
                        case ((int)(EnumConstant.NotificationType.Comment)):
                            <a href="/Module/Detail/?id=@item.ModuleId">
                                <div class="row row-content">
                                    <div class="col col-lg-1">
                                        <div class="dropdown-item-icon bg-primary text-white icon_item_notification">
                                            <i class="fas fa-comment"></i>
                                        </div>
                                    </div>
                                    <div class=" col-lg-11">
                                        <div class="dropdown-item-desc">
                                            @Html.Raw(item.Description)
                                            <div class="time text-primary">@item.CreateDate</div>
                                        </div>
                                    </div>
                                </div>
                            </a>


                            break;

                        case ((int)(EnumConstant.NotificationType.Logwork)):
                            <a href="/Module/Detail/?id=@item.ModuleId">
                                <div class="row row-content">
                                    <div class="col col-lg-1">
                                        <div class="dropdown-item-icon bg-info text-white icon_item_notification">
                                            <i class="fas fa-user"></i>
                                        </div>
                                    </div>
                                    <div class=" col-lg-11">
                                        <div class="dropdown-item-desc">
                                            @Html.Raw(item.Description)
                                            <div class="time text-primary">@item.CreateDate</div>
                                        </div>
                                    </div>
                                </div>
                            </a>

                            break;
                        case ((int)(EnumConstant.NotificationType.UpdateIssue)):
                            <a href="/Module/Detail/?id=@item.ModuleId">
                                <div class="row row-content">
                                    <div class="col col-lg-1">
                                        <div class="dropdown-item-icon bg-success text-white icon_item_notification">
                                            <i class="fas fa-check"></i>
                                        </div>
                                    </div>
                                    <div class=" col-lg-11">
                                        <div class="dropdown-item-desc">
                                            @Html.Raw(item.Description)
                                            <div class="time text-primary">@item.CreateDate</div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                            break;
                        default:
                            break;
                    }
                    <hr />

                }
            </div>
        </div>

    </section>
</div>

<style>
    .icon_item_notification {
        text-align: center;
        border-radius: 50%;
        height: 42px;
        width: 42px;
        line-height: 42px;
        margin-left: 4rem;
    }

    .row-content {
        margin-bottom: 1rem;
    }
</style>

