﻿@model Management.Service.ViewModel.ModuleViewModel
@using Management.Common;
@using Microsoft.AspNet.Identity;
@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_LayoutTisla.cshtml";
    var users = (IEnumerable<Management.Service.ViewModel.UserViewModel>)ViewBag.Users;
    var comments = (IEnumerable<Management.Service.ViewModel.CommentIssueViewModel>)ViewBag.Comments;
    var user = (Management.Service.ViewModel.UserViewModel)ViewBag.User;
    //var tmplogged = Model.LoggedPer;
    //var tmp = ((float)Model.Logged / Model.Estimated) *100;

    //var logged = Math.Round((double)((Model.Logged) / (Model.Estimated) * 100.0));
    //var remaining = 0.0;
    //if (logged < 100)
    //{
    //    remaining = (100.0 - logged);
    //}
}
<link href="~/Template/assets/modules/izitoast/css/iziToast.min.css" rel="stylesheet" />
<link href="~/Template/sources/scss/theme/_section.css" rel="stylesheet" />
<link href="~/Template/assets/modules/prism/prism.css" rel="stylesheet" />
<link href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.1/summernote.css" rel="stylesheet">

<div class="main-content" @*style="min-height: 874px !important; "*@>
    <section class="section">
        <div class="section-header">
            <h1 id="IdModule" data-id="@Model.Id" data-name="@Model.Name" data-user-id="" data-user-name="@User.Identity.Name">@Model.Name</h1>
            <div class="section-header-breadcrumb">
                <div class="breadcrumb-item active"><a href="#">Home</a></div>
                <div class="breadcrumb-item"><a href="#">Issue</a></div>
                <div class="breadcrumb-item">@Model.Name</div>
            </div>
        </div>
        <div class="section-body">
            <div class="row">
                <div class="col-lg-8 col-md-4 col-sm-12" style="height:100%">
                    <div class="card card-statistic-2">
                        <div class="card-stats">
                            <div class="card-stats-title">
                                @if (Model.IdModuleParent == null)
                                {
                                    <button class="btn btn-primary btn-create-subtask ">Create subtask</button>
                                }
                            </div>
                            <div class="card-wrap">
                                <div class="card-header">
                                    <div class="card-stats-item-label"> <h6>Description</h6></div>
                                    <div class="click2edit summernote html_description">@Html.Raw(Model.Description)</div>
                                    <button class="btn btn-default btn_close_description" type="button">Close</button>
                                    <button class="btn btn-primary btn_save_description" type="button">Save</button>

                                    <div class="sub-issue-content">
                                        <div class="card-stats-item-label"> <h6>Child issues</h6></div>
                                        <div class="list-subtask">
                                            @foreach (var item in Model.Module1)
                                            {
                                                <div class="card content-item-issue">
                                                    <a href="/Module/Detail/@item.Id"><img class="img_icon" src="~/Upload/Icon/subtask.svg" /><p class="text_sub_issue">@item.Name &nbsp;<strong> @item.Summary</strong></p></a>
                                                </div>
                                            }
                                        </div>
                                        <div class="issue_create_content">
                                            <input id="sub-issue-input" class="form-control" name="sub-issue" placeholder="What needs to be done?" />
                                            <button class="btn btn-default btn_cancel_child_issue" type="button">Cancel</button>
                                            <button class="btn btn-primary btn_create_child_issue" type="button">Create</button>
                                        </div>

                                    </div>
                                </div>
                                <div class="card-body" style="font-size:13px !important;margin-top:2rem;">
                                    <div class="card-stats-item-label"> <h6>Activity</h6></div>
                                    <ul class="nav nav-pills" id="myTab3" role="tablist">
                                        <li class="nav-item nav_item_content">
                                            <a class="nav-link active" id="history-tab" data-toggle="tab" href="#history" role="tab" aria-controls="home" aria-selected="true">History</a>
                                        </li>
                                        <li class="nav-item nav_item_content">
                                            <a class="nav-link" id="comment-tab" data-toggle="tab" href="#comment" role="tab" aria-controls="profile" aria-selected="false">Comment</a>
                                        </li>
                                        <li class="nav-item nav_item_content">
                                            <a class="nav-link" id="worklog-tab" data-toggle="tab" href="#worklog" role="tab" aria-controls="contact" aria-selected="false">Worklog</a>
                                        </li>
                                    </ul>
                                    <div class="tab-content" id="myTabContent2">
                                        <div class="tab-pane fade show active" id="history" role="tabpanel" aria-labelledby="history-tab">
                                            <div class="tickets-list">
                                                @foreach (var item in Model.Histories)
                                                {
                                                    <div class="ticket-item">
                                                        <div class="ticket-title">
                                                            <p class="des_issue_detail">@Html.Raw(item.Description)</p>
                                                        </div>
                                                        <div class="ticket-info">
                                                            <div>
                                                                @if (!string.IsNullOrEmpty(item.AssignedFromAvatar))
                                                                {
                                                                    <img class="img_icon_avatar_detail rounded-circle mr-1" src="@Url.Content(item.AssignedFromAvatar)" />
                                                                }
                                                                else
                                                                {
                                                                    <img class="img_icon_avatar_detail rounded-circle mr-1" src="~/Template/assets/img/avatar/avatar-1.png" />
                                                                }
                                                                @item.AssignedFromName
                                                            </div>
                                                            <div class="bullet"></div>
                                                            <div class="text-primary">@item.CreateDate</div>
                                                        </div>
                                                    </div>
                                                }
                                            </div>
                                        </div>
                                        <div class="tab-pane fade" id="comment" role="tabpanel" aria-labelledby="comment-tab">
                                            <div class="tickets-list tickets-list-comment">
                                                @if (comments != null)
                                                {
                                                    foreach (var item in comments)
                                                    {
                                                        <div class="ticket-item ticket-item-@item.Id">
                                                            <div class="ticket-title">
                                                                <div class="summernote html_comment_info html_comment_@item.Id" data-id="@item.Id" data-user-id="@item.UserId">@Html.Raw(item.Description)</div>
                                                                <button class="btn btn-default btn_close_comment_issue btn_close_comment_issue_@item.Id" data-id="@item.Id" data-issue="@item.ModuleId" type="button">Close</button>
                                                                <button class="btn btn-primary btn_save_comment_issue btn_save_comment_issue_@item.Id" data-id="@item.Id" data-issue="@item.ModuleId" type="button">Save</button>
                                                            </div>
                                                            <div class="ticket-info">
                                                                <div>
                                                                    @if (!string.IsNullOrEmpty(item.UserAvatar))
                                                                    {
                                                                        <img class="img_icon_avatar_detail rounded-circle mr-1" src="@Url.Content(item.UserAvatar)" />
                                                                    }
                                                                    else
                                                                    {
                                                                        <img class="img_icon_avatar_detail rounded-circle mr-1" src="~/Template/assets/img/avatar/avatar-1.png" />
                                                                    }
                                                                    @item.UserName
                                                                </div>
                                                                <div class="bullet"></div>
                                                                <div class="text-primary">
                                                                    @item.CreateDate
                                                                    @if (item.UserId == @User.Identity.GetUserId())
                                                                    {
                                                                        <a class=""><i class="fa fa-edit btn_edit_comment" data-id="@item.Id" data-issue="@item.ModuleId" aria-hidden="true" style="color:dodgerblue" c></i></a>
                                                                        <a class=""><i class="fa fa-trash-alt btn_delete_comment" data-id="@item.Id" data-issue="@item.ModuleId" aria-hidden="true" style="color:red"></i></a>
                                                                    }
                                                                </div>
                                                            </div>
                                                        </div>
                                                    }
                                                }
                                            </div>
                                            <a class="input_comment_a">
                                                @if (!string.IsNullOrEmpty(user.Avatar))
                                                {
                                                    <img class="img_icon_avatar_detail rounded-circle mr-1" src="@Url.Content(user.Avatar)" />
                                                }
                                                else
                                                {
                                                    <img class="img_icon_avatar_detail rounded-circle mr-1" src="~/Template/assets/img/avatar/avatar-1.png" />
                                                }
                                                <input placeholder=" Add a comment..." disabled class="input_comment" />
                                            </a>
                                            <div class=" summernote html_comment">
                                            </div>
                                            <button class="btn btn-default btn_close_comment" type="button">Close</button>
                                            <button class="btn btn-primary btn_save_comment" type="button">Save</button>
                                        </div>
                                        <div class="tab-pane fade" id="worklog" role="tabpanel" aria-labelledby="worklog-tab">
                                            <a href="/WorkLog/AddLogWork/?IdModule=@Model.Id" class=" btn btn-primary btn-add-log-work">Log Work</a>
                                            <div class="work-log-content">
                                                @foreach (var item in Model.WorkLogs)
                                                {
                                                    <div class="row" style=" margin-left: unset !important;background: ghostwhite;border-radius:0.5rem;margin-top:.3rem">
                                                        <div class="col col-lg-9" style=" margin: auto 0;">
                                                            @item.Description
                                                        </div>
                                                        <div class="col-col-lg-3">
                                                            <div class="row content_item_worklog">
                                                                <div class="col col-lg-9" style=" padding-right:unset !important ">
                                                                    <div class="row item_content_worklog item_content_worklog_time">
                                                                        @{@item.TimeLog}h
                                                                    </div>
                                                                    <div class="row item_content_worklog item_content_worklog_create">
                                                                        @item.CreateDate
                                                                    </div>
                                                                </div>
                                                                <div class="col col-lg-3" style=" padding-left: .5rem !important ;  ">
                                                                    @if (!string.IsNullOrEmpty(item.AuthorAvatar))
                                                                    {
                                                                        <img class="img_icon_avatar_detail img_icon_avatar_worklog rounded-circle mr-1" data-toggle="tooltip" title="@item.AuthorName" src="@Url.Content(item.AuthorAvatar)" />
                                                                    }
                                                                    else
                                                                    {
                                                                        <img class="img_icon_avatar_detail img_icon_avatar_worklog rounded-circle mr-1" data-toggle="tooltip" title="@item.AuthorName" src="~/Template/assets/img/avatar/avatar-1.png" />
                                                                    }
                                                                </div>
                                                            </div>

                                                            <div class=""></div>
                                                        </div>
                                                    </div>
                                                }
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12">
                    <div class="card card-statistic-2">
                        <div class="card-wrap">
                            <div class="card-header">
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col col-lg-6">
                                        <h6>Issue Type</h6>
                                        <div class="dropdown d-inline">
                                            <button class="btn btn-default dropdown-toggle" data-id="@Model.IssueType" name="IssueType" value="@Model.IssueType" type="button" id="issueType" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                @foreach (var item in Enum.GetNames(typeof(Management.Common.EnumConstant.IssueType)))
                                                {
                                                    if (item == Management.Common.Extensions.GetValue(Model.IssueType, "issue"))
                                                    {
                                                        switch (Model.IssueType)
                                                        {
                                                            case ((int)(EnumConstant.IssueType.Bug)):
                                                                <img class="img_icon" src="~/Upload/Icon/bug.svg" />
                                                                break;
                                                            case ((int)(EnumConstant.IssueType.Improvement)):
                                                                <img class="img_icon" src="~/Upload/Icon/improment.svg" />
                                                                break;
                                                            case ((int)(EnumConstant.IssueType.NewFeature)):
                                                                <img class="img_icon" src="~/Upload/Icon/feature.svg" />
                                                                break;
                                                            case ((int)(EnumConstant.IssueType.Task)):
                                                                <img class="img_icon" src="~/Upload/Icon/task.svg" />
                                                                break;
                                                            case ((int)(EnumConstant.IssueType.Subtask)):
                                                                <img class="img_icon" src="~/Upload/Icon/subtask.svg" />
                                                                break;
                                                            default:
                                                                <img class="img_icon" src="~/Upload/Icon/subtask.svg" />
                                                                break;
                                                        }<strong>@item</strong>
                                                    }
                                                }
                                            </button>
                                            <div class="dropdown-menu">
                                                @foreach (var item in Enum.GetNames(typeof(Management.Common.EnumConstant.IssueType)))
                                                {
                                                    if (item != Management.Common.Extensions.GetValue(Model.IssueType, "issue"))
                                                    {
                                                        switch (item)
                                                        {
                                                            case "Bug":
                                                                <a class="dropdown-item has-icon btn_issueType" data-id="@((int)EnumConstant.IssueType.Bug)"><img class="img_icon" src="~/Upload/Icon/bug.svg" /><strong class="pointer_enum">@item</strong></a>
                                                                break;
                                                            case "Improvement":
                                                                <a class="dropdown-item has-icon btn_issueType" data-id="@((int)EnumConstant.IssueType.Improvement)"><img class="img_icon" src="~/Upload/Icon/improment.svg" /><strong class="pointer_enum">@item</strong></a>
                                                                break;
                                                            case "NewFeature":
                                                                <a class="dropdown-item has-icon btn_issueType" data-id="@((int)EnumConstant.IssueType.NewFeature)"><img class="img_icon" src="~/Upload/Icon/feature.svg" /><strong class="pointer_enum">@item</strong></a>
                                                                break;
                                                            case "Task":
                                                                <a class="dropdown-item has-icon btn_issueType" data-id="@((int)EnumConstant.IssueType.Task)"><img class="img_icon" src="~/Upload/Icon/task.svg" /><strong class="pointer_enum">@item</strong></a>
                                                                break;
                                                            case "Subtask":
                                                                <a class="dropdown-item has-icon btn_issueType" data-id="@((int)EnumConstant.IssueType.Subtask)"> <img class="img_icon" src="~/Upload/Icon/subtask.svg" /><strong class="pointer_enum">@item</strong></a>
                                                                break;
                                                            default:
                                                                <a class="dropdown-item has-icon btn_issueType" data-id="@((int)EnumConstant.IssueType.NewFeature)"><img class="img_icon" src="~/Upload/Icon/feature.svg" /><strong class="pointer_enum">@item</strong></a>
                                                                break;
                                                        }
                                                    }
                                                }

                                            </div>
                                        </div>
                                    </div>


                                    <div class="col col-lg-6">
                                        <h6>Priority</h6>
                                        <div class="dropdown d-inline">
                                            <button class="btn btn-default dropdown-toggle" data-id="@Model.PriorityType" name="priority" value="@Model.PriorityType" type="button" id="priorityType" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                @foreach (var item in Enum.GetNames(typeof(Management.Common.EnumConstant.PriorityType)))
                                                {
                                                    if (item == Management.Common.Extensions.GetValue(Model.PriorityType, "priority"))
                                                    {
                                                        switch (Model.PriorityType)
                                                        {
                                                            case ((int)(EnumConstant.PriorityType.High)):
                                                                <img class="img_icon" src="~/Upload/Icon/high.svg" />
                                                                break;
                                                            case ((int)(EnumConstant.PriorityType.Highest)):
                                                                <img class="img_icon" src="~/Upload/Icon/highest.svg" />
                                                                break;
                                                            case ((int)(EnumConstant.PriorityType.Low)):
                                                                <img class="img_icon" src="~/Upload/Icon/low.svg" />
                                                                break;
                                                            case ((int)(EnumConstant.PriorityType.Lowest)):
                                                                <img class="img_icon" src="~/Upload/Icon/lowest.svg" />
                                                                break;
                                                            case ((int)(EnumConstant.PriorityType.Medium)):
                                                                <img class="img_icon" src="~/Upload/Icon/medium.svg" />
                                                                break;
                                                            default:
                                                                <img class="img_icon" src="~/Upload/Icon/medium.svg" />
                                                                break;
                                                        }<strong>@item</strong>
                                                    }
                                                }
                                            </button>
                                            <div class="dropdown-menu">
                                                @foreach (var item in Enum.GetNames(typeof(Management.Common.EnumConstant.PriorityType)))
                                                {
                                                    if (item != Management.Common.Extensions.GetValue(Model.PriorityType, "priority"))
                                                    {
                                                        switch (item)
                                                        {
                                                            case "Highest":
                                                                <a class="dropdown-item has-icon btn_priorityType" data-id="@((int)EnumConstant.PriorityType.Highest)"><img class="img_icon" src="~/Upload/Icon/highest.svg" /><strong class="pointer_enum">@item</strong></a>
                                                                break;
                                                            case "High":
                                                                <a class="dropdown-item has-icon btn_priorityType" data-id="@((int)EnumConstant.PriorityType.High)"><img class="img_icon" src="~/Upload/Icon/high.svg" /><strong class="pointer_enum">@item</strong></a>
                                                                break;
                                                            case "Medium":
                                                                <a class="dropdown-item has-icon btn_priorityType" data-id="@((int)EnumConstant.PriorityType.Medium)"><img class="img_icon" src="~/Upload/Icon/medium.svg" /><strong class="pointer_enum">@item</strong></a>
                                                                break;
                                                            case "Low":
                                                                <a class="dropdown-item has-icon btn_priorityType" data-id="@((int)EnumConstant.PriorityType.Low)"><img class="img_icon" src="~/Upload/Icon/low.svg" /><strong class="pointer_enum">@item</strong></a>
                                                                break;
                                                            case "Lowest":
                                                                <a class="dropdown-item has-icon btn_priorityType" data-id="@((int)EnumConstant.PriorityType.Lowest)"> <img class="img_icon" src="~/Upload/Icon/lowest.svg" /><strong class="pointer_enum">@item</strong></a>
                                                                break;
                                                            default:
                                                                <a class="dropdown-item has-icon btn_priorityType" data-id="@((int)EnumConstant.PriorityType.Medium)"><img class="img_icon" src="~/Upload/Icon/medium.svg" /><strong class="pointer_enum">@item</strong></a>
                                                                break;
                                                        }
                                                    }
                                                }

                                            </div>
                                        </div>
                                    </div>

                                    <div class="col col-lg-6" style=" margin-top:5%">
                                        <h6>Status</h6>
                                        <div class="dropdown d-inline">
                                            @if (Model.Status == (int)EnumConstant.IssueStatus.Close && (!User.IsInRole("Admin")&& !User.IsInRole("Leader")))
                                            {
                                            <button class="btn  dropdown-toggle " data-id="@Model.Status" name="issueStatus" value="@Model.Status" disabled type="button" id="issueStatus" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                @foreach (var item in Enum.GetNames(typeof(Management.Common.EnumConstant.IssueStatus)))
                                                {
                                                    if (item == Management.Common.Extensions.GetValue(Model.Status.Value, "status"))
                                                    {
                                                        switch (Model.Status)
                                                        {
                                                            case ((int)(EnumConstant.IssueStatus.Todo)):
                                                                <strong data-id="badge-info" class="badge badge-info pointer_enum btn_issue_status">@item</strong>
                                                                break;
                                                            case ((int)(EnumConstant.IssueStatus.Progress)):
                                                                <strong data-id="badge-warning" class="badge badge-warning pointer_enum btn_issue_status">@item</strong>
                                                                break;
                                                            case ((int)(EnumConstant.IssueStatus.Review)):
                                                                <strong data-id="badge-secondary" class="badge badge-secondary pointer_enum btn_issue_status">@item</strong>
                                                                break;
                                                            case ((int)(EnumConstant.IssueStatus.Done)):
                                                                <strong data-id="badge-success" class="badge badge-success pointer_enum btn_issue_status">@item</strong>
                                                                break;
                                                            case ((int)(EnumConstant.IssueStatus.Close)):
                                                                <strong data-id="badge-danger" class="badge badge-danger pointer_enum btn_issue_status">@item</strong>
                                                                break;
                                                            default:
                                                                <strong data-id="badge-info" class="badge badge-info btn_issue_status">@item</strong>
                                                                break;
                                                        }

                                                    }
                                                }
                                            </button>
                                            }
                                            else
                                            {
                                                <button class="btn  dropdown-toggle " data-id="@Model.Status" name="issueStatus" value="@Model.Status" type="button" id="issueStatus" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    @foreach (var item in Enum.GetNames(typeof(Management.Common.EnumConstant.IssueStatus)))
                                                    {
                                                        if (item == Management.Common.Extensions.GetValue(Model.Status.Value, "status"))
                                                        {
                                                            switch (Model.Status)
                                                            {
                                                                case ((int)(EnumConstant.IssueStatus.Todo)):
                                                                    <strong data-id="badge-info" class="badge badge-info pointer_enum btn_issue_status">@item</strong>
                                                                    break;
                                                                case ((int)(EnumConstant.IssueStatus.Progress)):
                                                                    <strong data-id="badge-warning" class="badge badge-warning pointer_enum btn_issue_status">@item</strong>
                                                                    break;
                                                                case ((int)(EnumConstant.IssueStatus.Review)):
                                                                    <strong data-id="badge-secondary" class="badge badge-secondary pointer_enum btn_issue_status">@item</strong>
                                                                    break;
                                                                case ((int)(EnumConstant.IssueStatus.Done)):
                                                                    <strong data-id="badge-success" class="badge badge-success pointer_enum btn_issue_status">@item</strong>
                                                                    break;
                                                                case ((int)(EnumConstant.IssueStatus.Close)):
                                                                    <strong data-id="badge-danger" class="badge badge-danger pointer_enum btn_issue_status">@item</strong>
                                                                    break;
                                                                default:
                                                                    <strong data-id="badge-info" class="badge badge-info btn_issue_status">@item</strong>
                                                                    break;
                                                            }

                                                        }
                                                    }
                                                </button>
                                            }


                                            <div class="dropdown-menu">
                                                @foreach (var item in Enum.GetNames(typeof(Management.Common.EnumConstant.IssueStatus)))
                                                {
                                                    if (item != Management.Common.Extensions.GetValue(Model.Status.Value, "status"))
                                                    {
                                                        switch (item)
                                                        {
                                                            case "Todo":
                                                                <a class="dropdown-item has-icon btn_issueStatus" data-id="@((int)EnumConstant.IssueStatus.Todo)"> <strong data-id="badge-info" class="badge badge-info pointer_enum">@item</strong></a>
                                                                break;
                                                            case "Progress":
                                                                <a class="dropdown-item has-icon btn_issueStatus" data-id="@((int)EnumConstant.IssueStatus.Progress)"> <strong data-id="badge-warning" class="badge badge-warning pointer_enum">@item</strong></a>
                                                                break;
                                                            case "Review":
                                                                <a class="dropdown-item has-icon btn_issueStatus" data-id="@((int)EnumConstant.IssueStatus.Review)"> <strong data-id="badge-secondary" class="badge badge-secondary pointer_enum">@item</strong></a>
                                                                break;
                                                            case "Done":
                                                                <a class="dropdown-item has-icon btn_issueStatus" data-id="@((int)EnumConstant.IssueStatus.Done)"> <strong data-id="badge-success" class="badge badge-success pointer_enum">@item</strong></a>
                                                                break;
                                                            case "Close":
                                                                if (User.IsInRole("Admin") || User.IsInRole("Leader"))
                                                                {
                                                                    <a class="dropdown-item has-icon btn_issueStatus" data-id="@((int)EnumConstant.IssueStatus.Close)"><strong data-id="badge-danger" class="badge badge-danger pointer_enum">@item</strong></a>
                                                                }
                                                                break;
                                                            default:
                                                                <a class="dropdown-item has-icon btn_issueStatus" data-id="@((int)EnumConstant.IssueStatus.Todo)"> <strong data-id="badge-info" class="badge badge-info pointer_enum">@item</strong></a>
                                                                break;
                                                        }
                                                    }
                                                }

                                            </div>
                                        </div>
                                    </div>
                                    <div class="col col-lg-12" style="margin-top:5%">
                                        <h6>Assignee</h6>
                                        <div class="dropdown d-inline">
                                            <button class="btn btn-default dropdown-toggle" data-id="@Model.Assignee" data-name="@Model.AssigneeName" name="assign_user" value="@Model.Assignee" type="button" id="assign_user" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                @if (string.IsNullOrEmpty(Model.AssigneeAvatar))
                                                {
                                                    <img class="img_icon_avatar rounded-circle mr-1" src="~/Template/assets/img/avatar/avatar-1.png" />
                                                }
                                                else
                                                {
                                                    <img class="img_icon_avatar rounded-circle mr-1" src="@Url.Content(Model.AssigneeAvatar) " />
                                                }
                                                <strong>@Model.AssigneeName</strong>
                                            </button>
                                            <div class="dropdown-menu">
                                                @foreach (var item in users)
                                                {
                                                    if (item.Id != Model.Assignee)
                                                    {

                                                        <a class="dropdown-item has-icon btn_assignUser" data-id="@item.Id">

                                                            @if (string.IsNullOrEmpty(item.Avatar))
                                                            {
                                                                <img class="img_icon_avatar rounded-circle mr-1" src="~/Template/assets/img/avatar/avatar-1.png" />
                                                            }
                                                            else
                                                            {
                                                                <img class="img_icon_avatar rounded-circle mr-1" src="@Url.Content(item.Avatar) " />
                                                            }
                                                            <strong class="pointer_enum">
                                                                @if (string.IsNullOrEmpty(item.Name))
                                                                {
                                                                    @item.UserName
                                                                }
                                                                else
                                                                {
                                                                    @item.Name
                                                                }
                                                            </strong>
                                                        </a>
                                                    }
                                                }
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col col-lg-12" style="margin-top:5%">
                                        <h6>Reporter</h6>
                                        <div class="dropdown d-inline">
                                            <button class="btn btn-light dropdown-toggle" data-id="@Model.Reporter" name="report_user" value="@Model.Reporter" type="button" id="report_user" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                @if (string.IsNullOrEmpty(Model.ReporterAvatar))
                                                {
                                                    <img class="img_icon_avatar rounded-circle mr-1" src="~/Template/assets/img/avatar/avatar-1.png" />
                                                }
                                                else
                                                {
                                                    <img class="img_icon_avatar rounded-circle mr-1" src="@Url.Content(Model.ReporterAvatar) " />
                                                }
                                                <strong>@Model.ReporterName</strong>
                                            </button>
                                            <div class="dropdown-menu">
                                                @foreach (var item in users)
                                                {
                                                    if (item.Id != Model.Reporter)
                                                    {
                                                        <a class="dropdown-item has-icon btn_reportUser" data-id="@item.Id">

                                                            @if (string.IsNullOrEmpty(item.Avatar))
                                                            {
                                                                <img class="img_icon_avatar rounded-circle mr-1" src="~/Template/assets/img/avatar/avatar-1.png" />
                                                            }
                                                            else
                                                            {
                                                                <img class="img_icon_avatar rounded-circle mr-1" src="@Url.Content(item.Avatar) " />
                                                            }
                                                            <strong class="pointer_enum">
                                                                @if (string.IsNullOrEmpty(item.Name))
                                                                {
                                                                    @item.UserName
                                                                }
                                                                else
                                                                {
                                                                    @item.Name
                                                                }
                                                            </strong>
                                                        </a>
                                                    }
                                                }

                                            </div>
                                        </div>
                                    </div>

                                    <div class="col col-lg-6" style="margin-top:5%;margin-bottom:5%">
                                        <h6>Estimated</h6>
                                        <input class="form-control input_point" type="number" name="Point" value="@Model.Estimated" />
                                        <button class=" btn_change btn btn-primary">Save</button>
                                        <button class=" btn_close btn btn-default">Close</button>
                                    </div>
                                    <div class="col col-lg-9" style="margin-top:5%">
                                        <h6><a href="">TIME TRACKING</a></h6>
                                        <div class="row">
                                            <h6 class="col col-lg-10">Estimated</h6>
                                            <h6 class="col col-lg-2">@{@Model.Estimated}h</h6>
                                        </div>
                                        <div class="progress mb-3">
                                            <div class="progress-bar progress-estimated" role="progressbar" data-width="100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%; background: #3abaf4"></div>
                                        </div>
                                    </div>
                                    <div class="col col-lg-9">
                                        <div class="row">
                                            <h6 class="col col-lg-10">Remaining</h6>
                                            <h6 class="col col-lg-2">@{@Model.Remaining}h</h6>
                                        </div>
                                        <div class="progress mb-3  justify-content-end">
                                            <div class="progress-bar progress-remaining" role="progressbar" data-width="@Model.RemainingPer%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style=" width: 0%; background: #ffa426"></div>
                                        </div>
                                    </div>
                                    <div class="col col-lg-9">
                                        <div class="row">
                                            <h6 class="col col-lg-10">Logged</h6>
                                            <h6 class="col col-lg-2">@{@Model.Logged}h</h6>
                                        </div>
                                        <div class="progress mb-3">
                                            <div class="progress-bar progress-logged" role="progressbar" data-width="@Model.LoggedPer%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 0%; background: #63ed7a"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>
    <input id="user_info" data-name="@if (!string.IsNullOrEmpty(user.Name))
    {
        @user.Name
    }
    else
    {
        @user.UserName
    } " type="hidden" />
</div>



<style>


    .des_issue :hover {
        background: #f0f5f5;
        transition: .5s;
    }

    .nav_item_content {
        line-height: 1rem !important;
    }

    .btn_change, .btn_close {
        display: none;
    }

    .input_description_issue {
        width: 100%;
        border: none;
    }

    .btn_save_description, .btn_close_description {
        border-radius: .25em !important;
        float: right;
        margin-top: 1% !important;
        margin-bottom: 0.3rem;
        margin-right: .5em;
        display: none;
    }

    .des_issue_detail {
        line-height: 5px !important;
    }

    .img_icon_avatar_detail {
        width: 25px;
        height: 25px;
    }

    .pointer_enum {
        cursor: pointer;
    }

    .btn_issue_status {
        line-height: 1.2rem;
    }

    .input_comment {
        width: 90%;
        border: none;
    }

    .btn_close_comment_issue, .btn_save_comment_issue {
        float: right;
        display: none;
        margin-right: 1%;
    }

    .modal-backdrop, .modal-backdrop.in {
        display: none;
    }

    #sub-issue-input {
        width: 100%;
        border-radius: 3px;
    }

    .btn_create_child_issue, .btn_cancel_child_issue {
        border-radius: .25em !important;
        float: right;
        margin-right: .5em;
        margin-top: .7em !important;
    }

    .sub-issue-content {
        display: none;
    }

    .issue_create_content {
        display: none;
    }

    .list-subtask card p {
        line-height: unset !important;
    }

    .text_sub_issue {
        margin-bottom: 0px;
    }

    .content-item-issue {
        margin-bottom: 1rem !important;
    }

    .progress-remaining {
        /*  animation-direction: reverse;*/
        float: right;
    }

    .progress-bar {
        transform: rotate(180deg);
        flex-direction: row-reverse;
    }

    .btn-add-log-work {
        margin-left: 40%;
    }

    .img_icon_avatar_worklog {
        margin-top: 50%;
        width: 2rem !important;
        height: 2rem !important;
    }

    .item_content_worklog {
        line-height: unset !important;
    }

    .item_content_worklog_time {
        margin-top: .4rem;
        margin-left: 85%;
        font-weight: 900;
        color: deeppink;
    }

    .item_content_worklog_create {
        margin-top: -.8rem;
    }

    .content_item_worklog {
        margin-right: unset !important;
        margin-left: unset !important;
    }

    h6 {
        font-size: .8rem !important;
    }
</style>
@section scripts{
    <script src="~/Template/assets/modules/sweetalert/sweetalert.min.js"></script>
    <script>
        $(document).ready(function () {

            var listElements = $('.html_comment_info');
            for (var i = 0; i < listElements.length; i++) {
                //$(listElements[i]).summernote({ dialogsInBody: true, });
                $(listElements[i]).summernote('destroy');
            }
            var htmlOld = $('.html_description').html();
            $('.btn_save_description').click(function (e) {
                e.preventDefault();
                var htmlNew = $('.html_description').summernote('code');
                if (htmlNew != htmlOld) {
                    var module = $('#IdModule');
                    viewModel = {};
                    viewModel.IdModule = module.attr('data-id');
                    viewModel.ModuleName = module.attr('data-name');
                    viewModel.Description = htmlNew;
                    var title = "Update Description successfully of Issue-" + viewModel.ModuleName + "!";
                    var url = "/Module/UpdateModule";
                    Update(url, viewModel, title);
                    htmlOld = htmlNew;
                }

                //get data
                $('.html_description').summernote('destroy');
                $('.btn_close_description').hide();
                $('.btn_save_description').hide();
            });
            $('.html_description').dblclick(function (e) {
                e.preventDefault();
                $('.html_description').summernote({ focus: true });
                $('.btn_close_description').show();
                $('.btn_save_description').show();
            });
            $('.btn_close_description').click(function (e) {
                e.preventDefault();
                $('.html_description').summernote('destroy');
                $('.btn_close_description').hide();
                $('.btn_save_description').hide();
                $('.html_description').html(htmlOld);
            });
            $('.note-icon-picture').click(function (e) {
                e.preventDefault();
                alert("ok");
                $('.modal-backdrop').css("display", "none");
            });
            $(".html_description").on('change keyup paste', function () {
            });


            $('.html_comment').summernote('destroy');
            var htmlCommentOld = $('.html_comment').html();
            $('.btn_close_comment').css('display', 'none');
            $('.btn_save_comment').css('display', 'none');
            var htmlCommentNew = "";
            var userName=$('#user_info').attr('data-name');
            $('.btn_save_comment').click(function (e) {
                e.preventDefault();
                htmlCommentNew = $('.html_comment').summernote('code');
                var id_issue_new;
                if (htmlCommentNew != htmlCommentOld) {
                    var model = {
                    Description:htmlCommentNew,
                    ModuleId:@Model.Id,
                    UserName: userName,
                    ModuleName: $('#IdModule').attr('data-name')
                    };
                    $.ajax({
                        type: "POST",
                        url: "/Comment/UpsertComment",
                        data: model,
                        dataType: "json",
                        success: function (response) {
                            if (response.Issuccess) {
                                id_issue_new = response.Result;
                                $('.tickets-list-comment').append("<div class='ticket-item ticket-item-"+id_issue_new+"'><div class='ticket-title'><div class='summernote html_comment_info html_comment_" + id_issue_new + "' data-id='" + id_issue_new + "' data-user-id='@User.Identity.GetUserId()'>" + htmlCommentNew + "</div><button class='btn btn-default btn_close_comment_issue btn_close_comment_issue_" + id_issue_new + "' data-id='" + id_issue_new + "' data-issue='@Model.Id' type='button'>Close</button><button class='btn btn-primary btn_save_comment_issue btn_save_comment_issue_" + id_issue_new + "' data-id='" + id_issue_new + "' data-issue='@Model.Id' type='button'>Save</button></div><div class='ticket-info'><div>@if (!string.IsNullOrEmpty(user.Avatar)){<img class='img_icon_avatar_detail rounded-circle mr-1' src='@Url.Content(user.Avatar)' />}else{<img class='img_icon_avatar_detail rounded-circle mr-1' src='~/Template/assets/img/avatar/avatar-1.png' />}@user.UserName</div><div class='bullet'></div><div class='text-primary'>@DateTime.Now<a ><i class='fa fa-edit btn_edit_comment' data-id='" + id_issue_new + "' data-issue='@Model.Id' aria-hidden='true' style='color:dodgerblue;margin-left: .25rem;'></i></a><a ><i class='fa fa-trash-alt btn_delete_comment' data-id='" + id_issue_new +"' data-issue='@Model.Id' aria-hidden='true' style='color:red;margin-left: .25rem;'></i></a></div></div></div>");

                            }
                        }
                    });


                    @*$('.tickets-list-comment').append("<div class='ticket-item'><div class='ticket-title'><p class='des_issue_detail summernote html_comment_description'>"+ htmlCommentNew + "</p></div><div class='ticket-info'><div>@if (!string.IsNullOrEmpty(user.Avatar)){ <img class='img_icon_avatar_detail rounded-circle mr-1' src='@Url.Content(user.Avatar)' />}else{<img class='img_icon_avatar_detail rounded-circle mr-1' src='~/Template/assets/img/avatar/avatar-1.png' />} </div><div class='bullet'></div><div class='text-primary'>@DateTime.Now</div> </div></div>");*@
                }
                //get data
                $('.html_comment').summernote('destroy');
                $('.btn_close_comment').hide();
                $('.btn_save_comment').hide();
                $('.html_comment').html("");
                //$('.btn_close_comment').hide();
                //$('.btn_save_comment').hide();
            });
            $('.html_comment').click(function (e) {
                e.preventDefault();
                $('.html_comment').summernote({ focus: true });
                $('.btn_close_comment').show();
                $('.btn_save_comment').show();
                //$('.input_comment').attr('type', "hidden");
            });
            $('.input_comment_a').click(function (e) {
                e.preventDefault();

                $('.html_comment').summernote({ focus: true });
                $('.btn_close_comment').show();
                $('.btn_save_comment').show();
                //$('.input_comment').addClass('display', "none");
            });
            $('.btn_close_comment').click(function (e) {
                e.preventDefault();
                $('.html_comment').summernote('destroy');
                $('.btn_close_comment').hide();
                $('.btn_save_comment').hide();
                $('.html_comment').html(htmlCommentOld);
            });
        });
    </script>

    <script>
        $(document).ready(function () {
            var html_comment_issue_old = "";
            var html_comment_issue_new = "";

            $("body").delegate(".btn_edit_comment", "click", function (e) {
                e.preventDefault();
                var id = $(this).attr('data-id');
                $('.html_comment_' + id).summernote({ focus: true });
                $('.btn_close_comment_issue_' + id).show();
                $('.btn_save_comment_issue_' + id).show();
                html_comment_issue_old = $('.html_comment_' + id).summernote('code');
            });
            //$('.btn_edit_comment').click(function (e) {
            //    e.preventDefault();
            //    var id = $(this).attr('data-id');
            //    $('.html_comment_' + id).summernote({ focus: true });
            //    $('.btn_close_comment_issue_' + id).show();
            //    $('.btn_save_comment_issue_' + id).show();
            //    html_comment_issue_old = $('.html_comment_' + id).summernote('code');
            //});

            $("body").delegate(".btn_delete_comment", "click", function (e) {
                e.preventDefault();
                var id = $(this).attr('data-id');

                    swal({
                        title: 'Are you sure?',
                        text: 'Once deleted, you will not be able to recover this comment!',
                        icon: 'warning',
                        buttons: true,
                        dangerMode: true,
                    })
                        .then((willDelete) => {
                            if (willDelete) {
                                swal('Your comment has been deleted!', {
                                    icon: 'success',
                                });
                                $.ajax({
                                    type: "POST",
                                    url: "/Comment/DeleteComment",
                                    data: "id=" + id,
                                    dataType: "json",
                                    success: function (response) {
                                        $('.ticket-item-' + id).remove();
                                    }
                                });
                            } else {
                                //swal('Your imaginary file is safe!');
                            }
                        });
                //$.ajax({
                //    type: "POST",
                //    url: "/Comment/DeleteComment",
                //    data: "id="+id,
                //    dataType: "json",
                //    success: function (response) {

                //    }
                //});
                //$('.btn_close_comment_issue_' + id).hide();
                //$('.btn_save_comment_issue_' + id).hide();
                //$('.ticket-item-' + id).remove();
            });

            //$('.btn_delete_comment').click(function (e) {
            //    e.preventDefault();
            //    var id = $(this).attr('data-id');

            //    $.ajax({
            //        type: "POST",
            //        url: "/url",
            //        data: "name=John&location=Boston",
            //        dataType: "json",
            //        success: function (response) {

            //        }
            //    });
            //    $('.html_comment_' + id).summernote({ focus: true });
            //    $('.btn_close_comment_issue_' + id).show();
            //    $('.btn_save_comment_issue_' + id).show();
            //    html_comment_issue_old = $('.html_comment_' + id).summernote('code');
            //});
            @*$('.btn_close_comment_issue').click(function (e) {
                e.preventDefault();
                var id = $(this).attr('data-id');
                $('.btn_close_comment_issue').hide();
                $('.btn_save_comment_issue').hide();
                $('.html_comment_' + id).summernote('destroy');

            });
            $('.btn_save_comment_issue').click(function (e) {
                e.preventDefault();
                var id = $(this).attr('data-id');
                var html_comment_issue_new = $('.html_comment_' + id).summernote('code');
                var userName = $('#user_info').attr('data-name');
                var model = {
                    Description: html_comment_issue_new,
                    ModuleId:@Model.Id,
                    UserName: userName,
                    Id:id
                };
                if (html_comment_issue_new != html_comment_issue_old) {
                    $.ajax({
                        type: "POST",
                        url: "/Comment/UpsertComment",
                        data: model,
                        dataType: "json",
                        success: function (response) {

                        }
                    });
                }
                $('.btn_close_comment_issue').hide();
                $('.btn_save_comment_issue').hide();
                $('.html_comment_' + id).summernote('destroy');
            });*@

            $("body").delegate(".btn_close_comment_issue", "click", function (e) {
                e.preventDefault();
                var id = $(this).attr('data-id');
                $('.btn_close_comment_issue').hide();
                $('.btn_save_comment_issue').hide();
                $('.html_comment_' + id).summernote('destroy');
            });

            $("body").delegate(".btn_save_comment_issue", "click", function (e) {
                e.preventDefault();
                var id = $(this).attr('data-id');
                var html_comment_issue_new = $('.html_comment_' + id).summernote('code');
                var userName = $('#user_info').attr('data-name');
                var model = {
                    Description: html_comment_issue_new,
                    ModuleId:@Model.Id,
                    UserName: userName,
                    Id:id
                };
                if (html_comment_issue_new != html_comment_issue_old) {
                    $.ajax({
                        type: "POST",
                        url: "/Comment/UpsertComment",
                        data: model,
                        dataType: "json",
                        success: function (response) {
                        }
                    });
                }
                $('.btn_close_comment_issue').hide();
                $('.btn_save_comment_issue').hide();
                $('.html_comment_' + id).summernote('destroy');
            });

        });
    </script>
    <script>

        $(document).ready(function () {
            var is_exist_subtas = false;
            if (@Model.Module1.Count>0) {
                $('.sub-issue-content').show();
                is_exist_subtas = true;
            }
            $('.btn-create-subtask').click(function (e) {
                e.preventDefault();
                $('.sub-issue-content').show();
                $('.issue_create_content').show();
                $('.btn_create_child_issue').attr("disabled", true);
            });

            $('.btn_cancel_child_issue').click(function (e) {
                e.preventDefault();
                if (is_exist_subtas) {
                    $('.issue_create_content').hide();
                }
                else {
                    $('.sub-issue-content').hide();
                }
                $('#sub-issue-input').val('');
            });
            $('#sub-issue-input').on('change paste keyup', function () {
                var input = $(this);
                if (input.val().length > 0) {
                    $('.btn_create_child_issue').removeAttr("disabled");
                }
                else {
                    $('.btn_create_child_issue').attr("disabled", true);
                }
            });
            $('.btn_create_child_issue').click(function (e) {
                var userName = $('#user_info').attr('data-name');
                e.preventDefault();
                var model = {
                    ModuleId:@Model.Id,
                    ProjectId:@Model.IdProject,
                    Summary: $('#sub-issue-input').val(),
                    UserName: userName,
                };

                $.ajax({
                    type: "POST",
                    url: "/Module/CreateSubtask",
                    data: model,
                    dataType: "json",
                    success: function (response) {
                        if (response.Issuccess) {
                            console.log(response);
                            var id_sub_task = response.Result.Id;
                            var name_sub_task = response.Result.Name;
                            var summary = $('#sub-issue-input').val();
                            $('.list-subtask').append("<div class='card content-item-issue'><a href='/Module/Detail/"+id_sub_task+"'><img class='img_icon' src=@Url.Content("~/Upload/Icon/subtask.svg") /><p class='text_sub_issue'>"+name_sub_task+" &nbsp;<strong>"+summary+"</strong></p></a></div>");
                            $('#sub-issue-input').val('');
                            $('#sub-issue-input').focus();
                            $('.btn_create_child_issue').attr("disabled", true);
                        }
                    }
                });
            });
        });
    </script>
}


