﻿@model IEnumerable<Management.Service.ViewModel.ModuleViewModel>
@using Management.Common;
@{
    ViewBag.Title = "ModuleDetail";
    Layout = "~/Views/Shared/_LayoutTisla.cshtml";
    var j = 1;
}
<link href="~/Template/assets/modules/datatables/dataTables.bootstrap4.min.css" rel="stylesheet" />
<link href="~/Template/assets/modules/datatables/datatables.min.css" rel="stylesheet" />
<link href="~/Template/assets/modules/datatables/datatables.min.css" rel="stylesheet" />
<link href="~/Template/assets/modules/izitoast/css/iziToast.min.css" rel="stylesheet" />
<link href="~/Template/sources/scss/theme/_section.css" rel="stylesheet" />
<link href="~/Template/assets/modules/prism/prism.css" rel="stylesheet" />
<div class="card " data-id="@Model.First().Project.Id">
    <div class="card-header">
        <h4>@Model.First().Project.Name</h4>
        <div class="card-header-action">
            <a href="#" class="btn btn-primary">View All</a>
        </div>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-striped" id="table-3">
                <thead>
                    <tr>
                        <th class="text-center">
                            #
                        </th>
                        <th>Task Name</th>
                        <th>Progress</th>
                        <th>Author</th>
                        <th>Due Date</th>
                        <th>Status</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @j
                            </td>
                            <td>
                                @item.Name
                                <div class="table-links">
                                    in <a href="#">@Model.First().Project.Name</a>
                                    <div class="bullet"></div>
                                    <a href="#">View</a>
                                </div>
                            </td>
                            <td class="align-middle">
                                <div class="progress" data-height="4" data-toggle="tooltip" title="100%">
                                    <div class="progress-bar bg-success" data-width="100%"></div>
                                </div>
                            </td>
                            <td>
                                @if (string.IsNullOrEmpty(item.AssigneeAvatar))
                                {
                                    <img alt="image" src="~/Template/assets/img/avatar/avatar-5.png" class="rounded-circle" width="35" data-toggle="tooltip" title="@item.AssigneeName ">
                                }
                                else
                                {
                                    <img alt="image" src="@Url.Content(item.AssigneeAvatar)" class="rounded-circle" width="35" data-toggle="tooltip" title=" @item.AssigneeName ">
                                }
                            </td>
                            <td>@DateTime.Now</td>
                            @switch (item.Status)
                            {
                                case ((int)(EnumConstant.IsssueStatus.Todo)):
                                    <td><div class="badge badge-info"> To-do</div></td>
                                    break;
                                case ((int)(EnumConstant.IsssueStatus.Progress)):
                                    <td><div class="badge badge-warning"> In Progress</div></td>
                                    break;
                                case ((int)(EnumConstant.IsssueStatus.Review)):
                                    <td><div class="badge badge-secondary">Review</div></td>

                                    break;
                                case ((int)(EnumConstant.IsssueStatus.Done)):
                                    <td><div class="badge badge-success">  Done</div></td>

                                    break;
                                case ((int)(EnumConstant.IsssueStatus.Close)):
                                    <td><div class="badge badge-danger"> Done</div></td>
                                    break;
                                default:
                                    <td><div class="badge badge-info">To-do</div></td>
                                    break;
                            }
                            <td>
                                <a href="#" class="btn btn-secondary">Detail</a>
                            </td>
                        </tr>
                        { j = j + 1; }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

