﻿@{
    ViewBag.Title = "AddUser";
    Layout = "~/Views/Shared/_LayoutTisla.cshtml";
    var userJoins = (IEnumerable<Management.Service.ViewModel.UserViewModel>)ViewBag.userJoins;
    var userNews = (IEnumerable<Management.Service.ViewModel.UserViewModel>)ViewBag.userNews;
    var projectId = Request.QueryString["projectId"];
}
<link href="~/Template/sources/scss/theme/_section.css" rel="stylesheet" />
<link href="~/Template/assets/modules/prism/prism.css" rel="stylesheet" />
<link href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.1/summernote.css" rel="stylesheet">
<input id="project_id_issue" data-id="@projectId" type="hidden" />
<div class="main-content">
    <section class="section">
        <div class="section-header">
            <h1>All Project</h1>

            <div class="section-header-breadcrumb">
                <div class="breadcrumb-item active"><a href="#">Dashboard</a></div>
                <div class="breadcrumb-item"><a href="#">Modules</a></div>
                <div class="breadcrumb-item">Toastr</div>
            </div>
        </div>
        <div class="section-body">
            <div id="shared-lists" class="row">
                <div class="col">
                    <h3 style="text-align:center">User Join</h3>
                    <div id="user-join" class="list-group col card card_item_content_issue ">
                        @foreach (var item in userJoins)
                        {
                            <div class="w3-card-4  card_item_user" id="@item.Id" data-project="@projectId">
                                <div class="w3-container">
                                    <div>
                                        <a class="dropdown-item has-icon btn_assignUser" data-id="@item.Id">

                                            @if (string.IsNullOrEmpty(item.Avatar))
                                            {
                                                <img class="img_icon_avatar rounded-circle mr-1" src="~/Template/assets/img/avatar/avatar-1.png" />
                                            }
                                            else
                                            {
                                                <img class="img_icon_avatar rounded-circle mr-1" src="@Url.Content(item.Avatar) " />
                                            }
                                            <strong class="pointer_enum">
                                                @if (string.IsNullOrEmpty(item.Name))
                                                {
                                                    @item.UserName
                                                }
                                                else
                                                {
                                                    @item.Name
                                                }
                                            </strong>
                                        </a>
                                    </div>

                                </div>
                            </div>
                        }
                    </div>
                </div>

                <div class="col">
                    <h3 style="text-align:center">User New</h3>
                    <div id="user-new" class="list-group col card  card_item_content_issue ">
                        @foreach (var item in userNews)
                        {
                            <div class="w3-card-4 card_item_user" id="@item.Id">
                                <div class="w3-container">
                                    <div>
                                        <a class="dropdown-item has-icon btn_assignUser" data-id="@item.Id" data-project="@projectId">

                                            @if (string.IsNullOrEmpty(item.Avatar))
                                            {
                                                <img class="img_icon_avatar rounded-circle mr-1" src="~/Template/assets/img/avatar/avatar-1.png" />
                                            }
                                            else
                                            {
                                                <img class="img_icon_avatar rounded-circle mr-1" src="@Url.Content(item.Avatar) " />
                                            }
                                            <strong class="pointer_enum">
                                                @if (string.IsNullOrEmpty(item.Name))
                                                {
                                                    @item.UserName
                                                }
                                                else
                                                {
                                                    @item.Name
                                                }
                                            </strong>
                                        </a>
                                    </div>

                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<style>
    .card_item_user {
        margin: 1%;
    }
</style>


<script src="~/Plugin_SortTable/Sortable.js"></script>

<script src="~/Plugin_SortTable/st/prettify/prettify.js"></script>

<script src="~/Plugin_SortTable/st/prettify/run_prettify.js"></script>

<script src="~/Plugin_SortTable/st/sorttable_user.js"></script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>


<link rel="stylesheet" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css">

<script src="https://code.jquery.com/jquery-2.1.3.js"></script>

<script src="https://code.jquery.com/ui/1.11.2/jquery-ui.js"></script>

<script src="https://cdn.jsdelivr.net/npm/jquery-sortablejs@latest/jquery-sortable.js"></script>

<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">


@section scripts{

    <script>
        
    </script>
}

