﻿@model Management.Service.ViewModel.ProjectViewModel
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_LayoutTisla.cshtml";
    var users = (IEnumerable<Management.Service.ViewModel.UserViewModel>)ViewBag.Users;
    var userName = users.First().Name ?? users.First().UserName;
    var userId = users.First().Id;
    var status = Model.Status;
}

<link href="~/Template/assets/modules/datatables/dataTables.bootstrap4.min.css" rel="stylesheet" />
<link href="~/Template/assets/modules/datatables/datatables.min.css" rel="stylesheet" />
<link href="~/Template/assets/modules/datatables/datatables.min.css" rel="stylesheet" />
<link href="~/Template/assets/modules/izitoast/css/iziToast.min.css" rel="stylesheet" />
<link href="~/Template/sources/scss/theme/_section.css" rel="stylesheet" />
<link href="~/Template/assets/modules/prism/prism.css" rel="stylesheet" />
<link href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.1/summernote.css" rel="stylesheet">
<div class="main-content" @*style="min-height: 874px !important; "*@>
    <section class="section">
        <div class="section-header">
            <h1>Project @Model.Name</h1>
            <div class="section-header-breadcrumb">
                <div class="breadcrumb-item active"><a href="/">Home</a></div>
                <div class="breadcrumb-item"><a href="/Project/Index">Project</a></div>
                <div class="breadcrumb-item">@Model.Name</div>
            </div>
        </div>
        <div class="section-body">
            <form method="post" enctype="multipart/form-data" action="/Project/Edit">
                @Html.AntiForgeryToken()
                @Html.ValidationSummary("", new { @class = "text-danger" })
                <input name="Id" value="@Model.Id" type="hidden" />
                <div class="form-horizontal">
                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            <input class="form-control" name="Name" value="@Model.Name" required />
                            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <p class="control-label col-md-2">Key Project</p>
                        <div class="col-md-10">
                            @Html.HiddenFor(x => x.Key, new { @type = "hidden" })
                            <input class="form-control" name="Key" maxlength="4" value="@Model.Key" required disabled />
                            @Html.ValidationMessageFor(model => model.Key, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2">Description</label>
                        <div class="col-md-10">
                            <textarea class="summernote-simple form-control" vocab="@Model.Description" name="Description">@Model.Description</textarea>
                            @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2">Leader</label>
                        <div class="col-md-10">
                            <div class="dropdown d-inline">
                                <button class="btn btn-default dropdown-toggle" data-id="@Model.IdManager" data-name="@Model.Leader" name="Leader" value="@Model.IdManager" type="button" id="leader_user" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    @if (string.IsNullOrEmpty(Model.AvatarLead))
                                    {
                                        <img class="img_icon_avatar rounded-circle mr-1" src="~/Template/assets/img/avatar/avatar-1.png" />
                                    }
                                    else
                                    {
                                        <img class="img_icon_avatar rounded-circle mr-1" src=" @Url.Content(Model.AvatarLead) " />
                                    }
                                    <strong style="cursor:pointer">
                                        @Model.Leader
                                    </strong>
                                </button>
                                <input name="IdManager" id="input_leader" value="@Model.IdManager" type="hidden" />
                                <div class="dropdown-menu">
                                    @foreach (var item in users)
                                    {
                                        if (item.Id != Model.IdManager)
                                        {

                                            <a class="dropdown-item has-icon btn_leader" data-id="@item.Id">

                                                @if (string.IsNullOrEmpty(item.Avatar))
                                                {
                                                    <img class="img_icon_avatar rounded-circle mr-1" src="~/Template/assets/img/avatar/avatar-1.png" />
                                                }
                                                else
                                                {
                                                    <img class="img_icon_avatar rounded-circle mr-1" src="@Url.Content(item.Avatar) " />
                                                }
                                                <strong class="pointer_enum" style="cursor:pointer">
                                                    @if (string.IsNullOrEmpty(item.Name))
                                                    {
                                                        @item.UserName
                                                    }
                                                    else
                                                    {
                                                        @item.Name
                                                    }
                                                </strong>
                                            </a>
                                        }
                                    }

                                </div>
                            </div>
                            @Html.ValidationMessageFor(model => model.IdManager, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-2">Start Day</label>
                        <div class="col-md-5">
                            <input name="StarDay" id="datepickerStart" type="datetime" value="@Model.StarDay" class="form-control" required />

                            @Html.ValidationMessageFor(model => model.StarDay, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-2">FinishDay</label>
                        <div class="col-md-5">
                            <input name="FinishDay" id="datepickerFinish" type="datetime" value="@Model.FinishDay" class="form-control" required />
                            @Html.ValidationMessageFor(model => model.FinishDay, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2">Status</label>
                        <div class="col-md-2">
                            <select name="Status" class="form-control">
                                @switch (status)
                                {
                                    case 1:
                                        {
                                            <option value="1" selected>InProgress</option>
                                            <option value="2">Done</option>
                                            <option value="3">Close</option>
                                        }
                                        break;
                                    case 2:
                                        {
                                            <option value="2" selected>Done</option>
                                            <option value="1">InProgress</option>
                                            <option value="3">Close</option>
                                        }
                                        break;
                                    case 3:
                                        {
                                            <option value="3" selected>Close</option>
                                            <option value="1">InProgress</option>
                                            <option value="2">Done</option>
                                        }
                                        break;
                                    default:
                                        <option value="1" selected>InProgress</option>
                                        <option value="2">Done</option>
                                        <option value="3">Close</option>
                                        break;
                                }
                            </select>

                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2">Avatar</label>
                        <div class="col-md-10">
                            <input name="file" placeholder="Image" type="file" />
                            @Html.ValidationMessageFor(model => model.Avatar, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Save" class="btn btn-primary btn-lg" />
                            <a class="btn btn-default">Back</a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </section>
</div>
<style>
    input:required {
        border: 1px solid red;
        outline: none;
    }

    .note-editor {
        border-color: #e4e6fc !important;
    }
</style>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
