﻿@model IEnumerable<Management.Service.ViewModel.ProjectViewModel>
@using Management.Common;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutTisla.cshtml";
    var i = 1;
    var j = 1;
    var param = Request.QueryString.Get("projectId")??string.Empty;
}
<link href="~/Template/assets/modules/datatables/dataTables.bootstrap4.min.css" rel="stylesheet" />
<link href="~/Template/assets/modules/datatables/datatables.min.css" rel="stylesheet" />
<link href="~/Template/assets/modules/datatables/datatables.min.css" rel="stylesheet" />
<link href="~/Template/assets/modules/izitoast/css/iziToast.min.css" rel="stylesheet" />
<link href="~/Template/sources/scss/theme/_section.css" rel="stylesheet" />
<link href="~/Template/assets/modules/prism/prism.css" rel="stylesheet" />
<input  id="parameter_project" value="@param" type="hidden" />
<div class="main-content">
    <section class="section">
        <div class="section-header">
            <h1>All Project</h1>
            
            <div class="section-header-breadcrumb">
                <div class="breadcrumb-item active"><a href="/">Home</a></div>
                <div class="breadcrumb-item"><a href="/Project/Index">Project</a></div>
                <div class="breadcrumb-item">Index</div>
            </div>
        </div>
        <div class="section-body">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h4>Projects</h4>
                            <div class="card-header-action">
                                @if (User.IsInRole("Admin"))
                                {
                                    <a href="/Project/Create" class="btn btn-primary">Create New</a>
                                }
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-striped" id="table-1">
                                    <thead>
                                        <tr>
                                            <th class="text-center">
                                                #
                                            </th>
                                            <th>Project Name</th>
                                            @*<th>Progress</th>*@
                                            <th>Members</th>
                                            <th>Due Date</th>
                                            <th>Status</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model)
                                        {
                                            <tr>
                                                <td>
                                                    @i
                                                </td>
                                                <td>
                                                    <a href="/Board/Index/@item.Id"> @item.Name</a>
                                                </td>
                                                @*<td class="align-middle">
                                                    <div class="progress" data-height="4" data-toggle="tooltip" title="100%">
                                                        <div class="progress-bar bg-success" data-width="100%"></div>
                                                    </div>
                                                </td>*@
                                                <td>
                                                    @foreach (var user in item.UserJoinProjects)
                                                    {
                                                        if (string.IsNullOrEmpty(user.User.Avatar))
                                                        {
                                                            <img alt="image" src="~/Template/assets/img/avatar/avatar-5.png" class="rounded-circle" width="35" data-toggle="tooltip" title="
                                                                 @if (string.IsNullOrEmpty(user.User.Name) )
                                                                 {
                                                                     @user.User.UserName
                                                                 }
                                                                 else
                                                                 {
                                                                     @user.User.Name
                                                                 }
                                                                 ">
                                                        }
                                                        else
                                                        {
                                                            <img alt="image" src="@Url.Content(user.User.Avatar)" class="rounded-circle img_icon_avatar_index" width="35" data-toggle="tooltip" title=" @if (string.IsNullOrEmpty(user.User.Name) )
                                                                 {
                                                                     @user.User.UserName
                                                                 }
                                                                 else
                                                                 {
                                                                     @user.User.Name
                                                                 }
                                                                 ">
                                                        }
                                                    }
                                                </td>
                                                <td>@item.CreateDay</td>
                                                <td>
                                                    @switch (item.Status)
                                                    {
                                                        case 1:
                                                            {
                                                                <div class="badge badge-warning">In Progress</div>
                                                            }
                                                            break;
                                                        case 2:
                                                            {
                                                                <div class="badge badge-success">Completed</div>
                                                            }
                                                            break;
                                                        case 3:
                                                            {
                                                                <div class="badge badge-danger">Close</div>
                                                            }
                                                            break;
                                                        default:
                                                            <div class="badge badge-warning">In Progress</div>
                                                            break;
                                                    }
                                                </td>
                                                <td>
                                                    <a class="btn btn-secondary  text-white btn_detail_proejct" id="@item.Id">Detail</a>

                                                    @if (User.IsInRole("Admin") || User.IsInRole("Leader"))
                                                    {
                                                        <a class="btn btn-primary text-white" href="/Project/AddUser/?projectId=@item.Id">Add User</a>
                                                    }
                                                    @if (User.IsInRole("Admin"))
                                                    {
                                                        <a class="btn btn-danger text-white">Delete</a>
                                                        <a href="/Project/Edit/?id=@item.Id" class="btn btn-info text-white">Edit</a>
                                                    }
                                                </td>
                                            </tr>
                                            { i = i + 1; }
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

                @foreach (var item in Model)
                {
                    <div class="task_project col-8 task-project-@item.Id" data-id="@item.Id">
                        <div class="card">
                            <div class="card-header">
                                <h4>@item.Name</h4>
                                <div class="card-header-action">
                                    <a href="/Board/Index/?projectId=@item.Id" class="btn btn-primary">View All</a>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-striped table-task" id="table-3">
                                        <thead>
                                            <tr>
                                                <th class="text-center">
                                                    #
                                                </th>
                                                <th>Task Name</th>
                                                <th>Progress</th>
                                                <th>Author</th>
                                                <th>Due Date</th>
                                                <th>Status</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var issue in item.Modules)
                                            {
                                                <tr>
                                                    <td>
                                                        @j
                                                    </td>
                                                    <td>
                                                        @issue.Name
                                                        <div class="table-links">
                                                            in <a href="/Board/Index/@item.Id">@item.Name</a>
                                                            <div class="bullet"></div>
                                                            <a href="/Module/Detail/@issue.Id">View</a>
                                                        </div>
                                                    </td>
                                                    <td class="align-middle">
                                                        <div class="progress" data-height="4" data-toggle="tooltip" title="@issue.LoggedPer%">
                                                            <div class="progress-bar bg-success" data-width="@issue.LoggedPer%"></div>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        @if (string.IsNullOrEmpty(issue.AssigneeAvatar))
                                                        {
                                                            <img alt="image" src="~/Template/assets/img/avatar/avatar-5.png" class="rounded-circle" width="35" data-toggle="tooltip" title="@issue.AssigneeName ">
                                                        }
                                                        else
                                                        {
                                                            <img alt="image" src="@Url.Content(issue.AssigneeAvatar)" class="rounded-circle img_icon_avatar" width="35" data-toggle="tooltip" title=" @issue.AssigneeName ">
                                                        }
                                                    </td>
                                                    <td>@DateTime.Now</td>
                                                    @switch (issue.Status)
                                                    {
                                                        case ((int)(EnumConstant.IssueStatus.Todo)):
                                                            <td><div class="badge badge-info"> To-do</div></td>
                                                            break;
                                                        case ((int)(EnumConstant.IssueStatus.Progress)):
                                                            <td><div class="badge badge-warning"> In Progress</div></td>
                                                            break;
                                                        case ((int)(EnumConstant.IssueStatus.Review)):
                                                            <td><div class="badge badge-secondary">Review</div></td>

                                                            break;
                                                        case ((int)(EnumConstant.IssueStatus.Done)):
                                                            <td><div class="badge badge-success">  Done</div></td>

                                                            break;
                                                        case ((int)(EnumConstant.IssueStatus.Close)):
                                                            <td><div class="badge badge-danger"> Close</div></td>
                                                            break;
                                                        default:
                                                            <td><div class="badge badge-info">To-do</div></td>
                                                            break;
                                                    }
                                                    <td>
                                                        <a href="/Module/Detail/@issue.Id" class="btn btn-secondary">Detail</a>
                                                    </td>
                                                </tr>
                                                { j = j + 1; }
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                }




                @*<div class="col-8">
                        <div class="card">
                            <div class="card-header">
                                <h4>Project Name</h4>
                                <div class="card-header-action">
                                    <a href="#" class="btn btn-primary">View All</a>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-striped" id="table-3">
                                        <thead>
                                            <tr>
                                                <th class="text-center">
                                                    #
                                                </th>
                                                <th>Task Name</th>
                                                <th>Progress</th>
                                                <th>Author</th>
                                                <th>Due Date</th>
                                                <th>Status</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in Model)
                                            {
                                                <tr>
                                                    <td>
                                                        @j
                                                    </td>
                                                    <td>
                                                        @item.Name
                                                        <div class="table-links">
                                                            in <a href="#">Web Development</a>
                                                            <div class="bullet"></div>
                                                            <a href="#">View</a>
                                                        </div>
                                                    </td>
                                                    <td class="align-middle">
                                                        <div class="progress" data-height="4" data-toggle="tooltip" title="100%">
                                                            <div class="progress-bar bg-success" data-width="100%"></div>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        @foreach (var user in item.UserJoinProjects)
                                                        {
                                                            if (string.IsNullOrEmpty(user.User.Avatar))
                                                            {
                                                                <img alt="image" src="~/Template/assets/img/avatar/avatar-5.png" class="rounded-circle" width="35" data-toggle="tooltip" title="
                                                                     @if (string.IsNullOrEmpty(user.User.Name) )
                                                                     {
                                                                         @user.User.UserName
                                                                     }
                                                                     else
                                                                     {
                                                                         @user.User.Name
                                                                     }
                                                                     ">
                                                            }
                                                            else
                                                            {
                                                                <img alt="image" src="@Url.Content(user.User.Avatar)" class="rounded-circle" width="35" data-toggle="tooltip" title=" @if (string.IsNullOrEmpty(user.User.Name) )
                                                                     {
                                                                         @user.User.UserName
                                                                     }
                                                                     else
                                                                     {
                                                                         @user.User.Name
                                                                     }
                                                                     ">
                                                            }
                                                        }

                                                    </td>
                                                    <td>@item.CreateDay</td>
                                                    <td><div class="badge badge-success">Completed</div></td>
                                                    <td>
                                                        <a href="#" class="btn btn-secondary">Detail</a>
                                                    </td>
                                                </tr>
                                                { j = j + 1; }
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="col-lg-9 col-md-12 col-12 col-sm-12">
                        <div class="card">
                            <div class="card-header">
                                <h4>Task</h4>
                                <div class="card-header-action">
                                    <a href="#" class="btn btn-primary">View All</a>
                                </div>
                            </div>
                            <div class="card-body p-0">
                                <div class="table-responsive">
                                    <table class="table table-striped mb-0">
                                        <thead>
                                            <tr>
                                                <th>Task Name</th>
                                                <th>Author</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>
                                                    Introduction Laravel 5
                                                    <div class="table-links">
                                                        in <a href="#">Web Development</a>
                                                        <div class="bullet"></div>
                                                        <a href="#">View</a>
                                                    </div>
                                                </td>
                                                <td>
                                                    <a href="#" class="font-weight-600"><img src="~/Template/assets/img/avatar/avatar-1.png" alt="avatar" width="30" class="rounded-circle mr-1"> Bagus Dwi Cahya</a>
                                                </td>
                                                <td>
                                                    <a class="btn btn-primary btn-action mr-1" data-toggle="tooltip" title="Edit"><i class="fas fa-pencil-alt"></i></a>
                                                    <a class="btn btn-danger btn-action" data-toggle="tooltip" title="Delete" data-confirm="Are You Sure?|This action can not be undone. Do you want to continue?" data-confirm-yes="alert('Deleted')"><i class="fas fa-trash"></i></a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    Laravel 5 Tutorial - Installation
                                                    <div class="table-links">
                                                        in <a href="#">Web Development</a>
                                                        <div class="bullet"></div>
                                                        <a href="#">View</a>
                                                    </div>
                                                </td>
                                                <td>
                                                    <a href="#" class="font-weight-600"><img src="~/Template/assets/img/avatar/avatar-1.png" alt="avatar" width="30" class="rounded-circle mr-1"> Bagus Dwi Cahya</a>
                                                </td>
                                                <td>
                                                    <a class="btn btn-primary btn-action mr-1" data-toggle="tooltip" title="Edit"><i class="fas fa-pencil-alt"></i></a>
                                                    <a class="btn btn-danger btn-action" data-toggle="tooltip" title="Delete" data-confirm="Are You Sure?|This action can not be undone. Do you want to continue?" data-confirm-yes="alert('Deleted')"><i class="fas fa-trash"></i></a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    Laravel 5 Tutorial - MVC
                                                    <div class="table-links">
                                                        in <a href="#">Web Development</a>
                                                        <div class="bullet"></div>
                                                        <a href="#">View</a>
                                                    </div>
                                                </td>
                                                <td>
                                                    <a href="#" class="font-weight-600"><img src="~/Template/assets/img/avatar/avatar-1.png" alt="avatar" width="30" class="rounded-circle mr-1"> Bagus Dwi Cahya</a>
                                                </td>
                                                <td>
                                                    <a class="btn btn-primary btn-action mr-1" data-toggle="tooltip" title="Edit"><i class="fas fa-pencil-alt"></i></a>
                                                    <a class="btn btn-danger btn-action" data-toggle="tooltip" title="Delete" data-confirm="Are You Sure?|This action can not be undone. Do you want to continue?" data-confirm-yes="alert('Deleted')"><i class="fas fa-trash"></i></a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    Laravel 5 Tutorial - Migration
                                                    <div class="table-links">
                                                        in <a href="#">Web Development</a>
                                                        <div class="bullet"></div>
                                                        <a href="#">View</a>
                                                    </div>
                                                </td>
                                                <td>
                                                    <a href="#" class="font-weight-600"><img src="~/Template/assets/img/avatar/avatar-1.png" alt="avatar" width="30" class="rounded-circle mr-1"> Bagus Dwi Cahya</a>
                                                </td>
                                                <td>
                                                    <a class="btn btn-primary btn-action mr-1" data-toggle="tooltip" title="Edit"><i class="fas fa-pencil-alt"></i></a>
                                                    <a class="btn btn-danger btn-action" data-toggle="tooltip" title="Delete" data-confirm="Are You Sure?|This action can not be undone. Do you want to continue?" data-confirm-yes="alert('Deleted')"><i class="fas fa-trash"></i></a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    Laravel 5 Tutorial - Deploy
                                                    <div class="table-links">
                                                        in <a href="#">Web Development</a>
                                                        <div class="bullet"></div>
                                                        <a href="#">View</a>
                                                    </div>
                                                </td>
                                                <td>
                                                    <a href="#" class="font-weight-600"><img src="~/Template/assets/img/avatar/avatar-1.png" alt="avatar" width="30" class="rounded-circle mr-1"> Bagus Dwi Cahya</a>
                                                </td>
                                                <td>
                                                    <a class="btn btn-primary btn-action mr-1" data-toggle="tooltip" title="Edit"><i class="fas fa-pencil-alt"></i></a>
                                                    <a class="btn btn-danger btn-action" data-toggle="tooltip" title="Delete" data-confirm="Are You Sure?|This action can not be undone. Do you want to continue?" data-confirm-yes="alert('Deleted')"><i class="fas fa-trash"></i></a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    Laravel 5 Tutorial - Closing
                                                    <div class="table-links">
                                                        in <a href="#">Web Development</a>
                                                        <div class="bullet"></div>
                                                        <a href="#">View</a>
                                                    </div>
                                                </td>
                                                <td>
                                                    <a href="#" class="font-weight-600"><img src="~/Template/assets/img/avatar/avatar-1.png" alt="avatar" width="30" class="rounded-circle mr-1"> Bagus Dwi Cahya</a>
                                                </td>
                                                <td>
                                                    <a class="btn btn-primary btn-action mr-1" data-toggle="tooltip" title="Edit"><i class="fas fa-pencil-alt"></i></a>
                                                    <a class="btn btn-danger btn-action" data-toggle="tooltip" title="Delete" data-confirm="Are You Sure?|This action can not be undone. Do you want to continue?" data-confirm-yes="alert('Deleted')"><i class="fas fa-trash"></i></a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>*@
            </div>

        </div>
    </section>
</div>


<style>
    .task_project {
        display: none;
    }
</style>
@*<script src="~/Template/assets/modules/datatables/datatables.min.js"></script>
    <script src="~/Template/assets/modules/datatables/jquery-ui.min.js"></script>
    <script src="~/Template/assets/modules/datatables/dataTables.select.min.js"></script>
    <script src="~/Template/assets/modules/datatables/dataTables.bootstrap4.min.js"></script>*@