﻿@*<script src="~/Scripts/tinymce/jquery.tinymce.min.js"></script>
<script src="~/Scripts/tinymce/tinymce.min.js"></script>
<script type="text/javascript">
    tinyMCE.init({
        selector: '.mceEditor',
        theme: 'modern',
        relative_urls: false,
        plugins: ["eqneditor",
        "advlist autolink lists link image charmap print preview anchor",
        "searchreplace visualblocks code fullscreen",
        "insertdatetime media contextmenu paste textcolor table"
        ],
        menubar: false,
        toolbar: "undo redo | formatselect fontselect fontsizeselect | bold italic backcolor forecolor | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | eqneditor charmap | link image table code | removeformat | fullscreen",
        height: 300,
        setup: function (editor) {
            editor.on('init', function (e) {
                this.getDoc().body.style.fontSize = '13px';
            }),
            editor.on('click', function (e) {
                this.getDoc().body.focus();
            });
        },
        file_browser_callback: function (field_name, url, type, win) {
            if (type == 'image') {
                $('input[type="file"]#@ViewData.TemplateInfo.GetFullHtmlFieldName(string.Empty)').click();
                //$('.mce-btn.mce-open').parent().find('.mce-textbox').val('hello')
                //win.document.getElementById(field_name).value = 'mypicture.jpg';
            }

        }
    });
</script>
@Html.TextArea(string.Empty, ViewData.TemplateInfo.FormattedModelValue.ToString(), new { @class = "mceEditor" })
<input type="file" accept="image/*" id="@ViewData.TemplateInfo.GetFullHtmlFieldName(string.Empty)" onclick="$(this).uploadEditor()" class="hidden" data-type="images" data-path="editor" />*@
