﻿@model IEnumerable<Management.Service.ViewModel.ModuleViewModel>
@using Management.Common;
@using Microsoft.AspNet.Identity;
@{
    ViewBag.Title = "AddLogWork";
    Layout = "~/Views/Shared/_LayoutTisla.cshtml";
    var moduleFirst = Model.FirstOrDefault() ?? new Management.Service.ViewModel.ModuleViewModel();
}
<div class="main-content" @*style="min-height: 874px !important; "*@>
    <section class="section">
        <div class="section-header">
            @*<h1 id="IdModule" data-id="@Model.Id" data-name="@Model.Name" data-user-id="" data-user-name="@User.Identity.Name">@Model.Name</h1>*@
            <div class="section-header-breadcrumb">
                <div class="breadcrumb-item active"><a href="#">Dashboard</a></div>
                <div class="breadcrumb-item"><a href="#">Modules</a></div>
                <div class="breadcrumb-item">Toastr</div>
            </div>
        </div>
        <div class="section-body">
            <form method="post" action="/WorkLog/AddWorkLogControl">
                <div class="form-group col-lg-6">
                    <h6>Log Work</h6>
                    <div class="dropdown d-inline">
                        <button class="btn btn-default dropdown-toggle" data-id="@moduleFirst.Id" name="issue_logwork" value="@moduleFirst.Id" type="button" id="issue_logwork" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            @foreach (var item in Enum.GetNames(typeof(Management.Common.EnumConstant.IssueType)))
                            {
                                if (item == Management.Common.Extensions.GetValue(moduleFirst.IssueType, "issue"))
                                {
                                    switch (moduleFirst.IssueType)
                                    {
                                        case ((int)(EnumConstant.IssueType.Bug)):
                                            <img class="img_icon" src="~/Upload/Icon/bug.svg" />
                                            break;
                                        case ((int)(EnumConstant.IssueType.Improvement)):
                                            <img class="img_icon" src="~/Upload/Icon/improment.svg" />
                                            break;
                                        case ((int)(EnumConstant.IssueType.NewFeature)):
                                            <img class="img_icon" src="~/Upload/Icon/feature.svg" />
                                            break;
                                        case ((int)(EnumConstant.IssueType.Task)):
                                            <img class="img_icon" src="~/Upload/Icon/task.svg" />
                                            break;
                                        case ((int)(EnumConstant.IssueType.Subtask)):
                                            <img class="img_icon" src="~/Upload/Icon/subtask.svg" />
                                            break;
                                        default:
                                            <img class="img_icon" src="~/Upload/Icon/subtask.svg" />
                                            break;

                                    }
                                    <strong>@Model.FirstOrDefault().Name</strong>
                                }
                            }
                        </button>
                        <input name="ModuleId" id="module_id_logwork" type="hidden" />
                        @if (Model.Count() > 1)
                        {
                            <div class="dropdown-menu">
                                @foreach (var task in Model.Skip(1))
                                {
                                    var issueTypeString = Management.Common.Extensions.GetValue(task.IssueType, "issue");
                                    switch (issueTypeString)
                                    {
                                        case "Bug":
                                            <a class="dropdown-item has-icon btn_issue_logwork" data-id="@task.Id"><img class="img_icon" src="~/Upload/Icon/bug.svg" /><strong class="pointer_enum">@task.Name</strong></a>
                                            break;
                                        case "Improvement":
                                            <a class="dropdown-item has-icon btn_issue_logwork" data-id="@task.Id"><img class="img_icon" src="~/Upload/Icon/improment.svg" /><strong class="pointer_enum">@task.Name</strong></a>
                                            break;
                                        case "NewFeature":
                                            <a class="dropdown-item has-icon btn_issue_logwork" data-id="@task.Id"><img class="img_icon" src="~/Upload/Icon/feature.svg" /><strong class="pointer_enum">@task.Name</strong></a>
                                            break;
                                        case "Task":
                                            <a class="dropdown-item has-icon btn_issue_logwork" data-id="@task.Id"><img class="img_icon" src="~/Upload/Icon/task.svg" /><strong class="pointer_enum">@task.Name</strong></a>
                                            break;
                                        case "Subtask":
                                            <a class="dropdown-item has-icon btn_issue_logwork" data-id="@task.Id"> <img class="img_icon" src="~/Upload/Icon/subtask.svg" /><strong class="pointer_enum">@task.Name</strong></a>
                                            break;
                                        default:
                                            <a class="dropdown-item has-icon btn_issue_logwork" data-id="@task.Id"><img class="img_icon" src="~/Upload/Icon/feature.svg" /><strong class="pointer_enum">@task.Name</strong></a>
                                            break;
                                    }
                                }
                            </div>
                        }

                    </div>
                </div>
                <div class="form-group col-lg-1">
                    <label class="col-form-label">Time Log</label>
                    <input class="form-control" name="TimeLog" required type="number" />
                </div>
                <div class="form-group col-lg-6">
                    <label class="col-form-label">Description</label>
                    <input class="form-control" required name="Description" />
                </div>
                <div class="form-group col-lg-6">
                    <button class="btn btn-primary" type="submit">Save</button>
                    <button class="btn btn-default" type="submit">Close</button>
                </div>
            </form>
        </div>
    </section>
</div>

@section scripts{
    <script>
        $(document).ready(function () {

            $('#module_id_logwork').val($('#issue_logwork').attr('data-id'));
            $('.btn_issue_logwork').click(function (e) {
                e.preventDefault();
                var id = $(this).attr('data-id');
                var imgsrc = $(this).find('img').attr('src');
                var imgdes = $('#issue_logwork').find('img').attr('src');
                var idDes = $('#issue_logwork').attr('data-id');
                var htmlDes = $('#issue_logwork strong').html();
                var htmlSrc = $(this).find('strong').html();
                $('#issue_logwork').attr('value', id);
                $('#issue_logwork').attr('data-id', id);
                $('#issue_logwork').find('img').attr('src', imgsrc);
                $('#issue_logwork').find('strong').html(htmlSrc);
                $(this).attr('data-id', idDes);
                $(this).find('img').attr('src', imgdes);
                $(this).find('strong').html(htmlDes);
                $('#module_id_logwork').val(id);
            });
        });
    </script>
    }

