﻿@model Management.Service.ViewModel.ModuleViewModel
@using Management.Common;
@using Microsoft.AspNet.Identity;;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutTisla.cshtml";
    var modules = (IEnumerable<Management.Service.ViewModel.ModuleViewModel>)ViewBag.Modules;
    var users = (IEnumerable<Management.Service.ViewModel.UserViewModel>)ViewBag.Users ?? new List<Management.Service.ViewModel.UserViewModel>();
    var userFirst = users.FirstOrDefault();
    string projectId = this.Request.QueryString["projectId"];
}
<!-- CSS Libraries -->
@*<link href="~/Template/assets/modules/izitoast/css/iziToast.min.css" rel="stylesheet" />*@
<link href="~/Template/sources/scss/theme/_section.css" rel="stylesheet" />
<link href="~/Template/assets/modules/prism/prism.css" rel="stylesheet" />
<link href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.1/summernote.css" rel="stylesheet">
<div class="main-content" @*style="min-height: 874px !important; "*@>
    <section class="section">
        <div class="section-header">
            <h1>Dash Board</h1>
            <div class="section-header-breadcrumb">
                <div class="breadcrumb-item active"><a href="#">Dashboard</a></div>
                <div class="breadcrumb-item"><a href="#">Board</a></div>
            </div>
        </div>
        <div class="section-body">
            <div class="search-element search_element_board">
                <input class="form-control form_control_search" type="search" placeholder="Search" aria-label="Search" data-width="250">
                <button class="btn btn_search" type="submit"><i class="fas fa-search"></i></button>
                @*<img alt="image" src="/Template/assets/img/avatar/avatar-1.png" style="width:30px" class="rounded-circle mr-1">
                <img alt="image" src="/Template/assets/img/avatar/avatar-1.png" style="width:30px ;margin-left:-1%" class="rounded-circle mr-1">*@

                <a href="/Board/Index/?projectId=@projectId&userId=@User.Identity.GetUserId()" class="btn btn-default">Only My Issue</a>
                <a href="/Board/Index/?projectId=@projectId" class="btn btn-default">All Issue</a>
                <button class="btn btn-primary btn_create_issue" data-toggle="modal" data-target=".modal-create-issue">Create</button>
                <div class="search-backdrop"></div>
                <div class="search-result">
                </div>
            </div>
            <div id="shared-lists" class="row">
                <div class="col">
                    <h3 style="text-align:center">Todo</h3>
                    <div id="todo-left" class="list-group col card card_item_content_issue">
                        @foreach (var item in modules)
                        {
                            if (item.Status == (int)(EnumConstant.IssueStatus.Todo))
                            {

                                <div class="w3-card-4 card_item_issue" id="@item.Id">
                                    <div class="w3-container">
                                        <p>@item.Summary</p>
                                        <div>
                                            @switch (item.IssueType)
                                            {
                                                case ((int)(EnumConstant.IssueType.Bug)):
                                                    <img class="img_icon" src="~/Upload/Icon/bug.svg" />
                                                    break;
                                                case ((int)(EnumConstant.IssueType.Improvement)):
                                                    <img class="img_icon" src="~/Upload/Icon/improment.svg" />
                                                    break;
                                                case ((int)(EnumConstant.IssueType.NewFeature)):
                                                    <img class="img_icon" src="~/Upload/Icon/feature.svg" />
                                                    break;
                                                case ((int)(EnumConstant.IssueType.Task)):
                                                    <img class="img_icon" src="~/Upload/Icon/task.svg" />
                                                    break;
                                                case ((int)(EnumConstant.IssueType.Subtask)):
                                                    <img class="img_icon" src="~/Upload/Icon/task.svg" />
                                                    break;
                                                default:
                                                    <img class="img_icon" src="~/Upload/Icon/subtask.svg" />
                                                    break;
                                            }
                                            @switch (item.PriorityType)
                                            {
                                                case ((int)(EnumConstant.PriorityType.High)):
                                                    <img class="img_icon" src="~/Upload/Icon/high.svg" />
                                                    break;
                                                case ((int)(EnumConstant.PriorityType.Highest)):
                                                    <img class="img_icon" src="~/Upload/Icon/highest.svg" />
                                                    break;
                                                case ((int)(EnumConstant.PriorityType.Low)):
                                                    <img class="img_icon" src="~/Upload/Icon/low.svg" />
                                                    break;
                                                case ((int)(EnumConstant.PriorityType.Lowest)):
                                                    <img class="img_icon" src="~/Upload/Icon/lowest.svg" />
                                                    break;
                                                case ((int)(EnumConstant.PriorityType.Medium)):
                                                    <img class="img_icon" src="~/Upload/Icon/medium.svg" />
                                                    break;
                                                default:
                                                    <img class="img_icon" src="~/Upload/Icon/medium.svg" />
                                                    break;
                                            }
                                            <div style="float:right">
                                                <p>
                                                    <a href="/Module/Detail/@item.Id">
                                                        <strong>@item.Name</strong>
                                                    </a>
                                                    @if (string.IsNullOrEmpty(item.Avatar))
                                                    {
                                                        <img alt="image" src="/Template/assets/img/avatar/avatar-1.png" class="rounded-circle mr-1 img_icon_avatar">
                                                    }
                                                    else
                                                    {
                                                        <img alt="image" src="@Url.Content(item.Avatar)" class="rounded-circle mr-1 img_icon_avatar">
                                                    }
                                                </p>

                                            </div>
                                        </div>

                                    </div>
                                </div>
                            }
                        }
                    </div>
                </div>

                <div class="col">
                    <h3 style="text-align:center">Progress</h3>
                    <div id="process-mid" class="list-group col card  card_item_content_issue">
                        @foreach (var item in modules)
                        {
                            if (item.Status == (int)(EnumConstant.IssueStatus.Progress))
                            {
                                <div class="w3-card-4 card_item_issue" id="@item.Id">
                                    <div class="w3-container">
                                        <p>@item.Summary</p>
                                        <div>
                                            @switch (item.IssueType)
                                            {
                                                case ((int)(EnumConstant.IssueType.Bug)):
                                                    <img class="img_icon" src="~/Upload/Icon/bug.svg" />
                                                    break;
                                                case ((int)(EnumConstant.IssueType.Improvement)):
                                                    <img class="img_icon" src="~/Upload/Icon/improment.svg" />
                                                    break;
                                                case ((int)(EnumConstant.IssueType.NewFeature)):
                                                    <img class="img_icon" src="~/Upload/Icon/feature.svg" />
                                                    break;
                                                case ((int)(EnumConstant.IssueType.Task)):
                                                    <img class="img_icon" src="~/Upload/Icon/task.svg" />
                                                    break;
                                                case ((int)(EnumConstant.IssueType.Subtask)):
                                                    <img class="img_icon" src="~/Upload/Icon/task.svg" />
                                                    break;
                                                default:
                                                    <img class="img_icon" src="~/Upload/Icon/subtask.svg" />
                                                    break;
                                            }
                                            @switch (item.PriorityType)
                                            {
                                                case ((int)(EnumConstant.PriorityType.High)):
                                                    <img class="img_icon" src="~/Upload/Icon/high.svg" />
                                                    break;
                                                case ((int)(EnumConstant.PriorityType.Highest)):
                                                    <img class="img_icon" src="~/Upload/Icon/highest.svg" />
                                                    break;
                                                case ((int)(EnumConstant.PriorityType.Low)):
                                                    <img class="img_icon" src="~/Upload/Icon/low.svg" />
                                                    break;
                                                case ((int)(EnumConstant.PriorityType.Lowest)):
                                                    <img class="img_icon" src="~/Upload/Icon/lowest.svg" />
                                                    break;
                                                case ((int)(EnumConstant.PriorityType.Medium)):
                                                    <img class="img_icon" src="~/Upload/Icon/medium.svg" />
                                                    break;
                                                default:
                                                    <img class="img_icon" src="~/Upload/Icon/medium.svg" />
                                                    break;
                                            }
                                            <div style="float:right">
                                                <p>
                                                    <a href="/Module/Detail/@item.Id">
                                                        <strong>@item.Name</strong>
                                                    </a>

                                                    @if (string.IsNullOrEmpty(item.Avatar))
                                                    {
                                                        <img alt="image" src="/Template/assets/img/avatar/avatar-1.png" class="rounded-circle mr-1 img_icon_avatar">
                                                    }
                                                    else
                                                    {
                                                        <img alt="image" src="@Url.Content(item.Avatar)" class="rounded-circle mr-1 img_icon_avatar">
                                                    }
                                                </p>

                                            </div>
                                        </div>

                                    </div>
                                </div>
                            }
                        }
                    </div>
                </div>

                <div class="col">
                    <h3 style="text-align:center">Review</h3>
                    <div id="review-mid" class="list-group col card  card_item_content_issue">
                        @foreach (var item in modules)
                        {
                            if (item.Status == (int)(EnumConstant.IssueStatus.Review))
                            {
                                <div class="w3-card-4 card_item_issue" id="@item.Id">
                                    <div class="w3-container">
                                        <p>@item.Summary</p>
                                        <div>
                                            @switch (item.IssueType)
                                            {
                                                case ((int)(EnumConstant.IssueType.Bug)):
                                                    <img class="img_icon" src="~/Upload/Icon/bug.svg" />
                                                    break;
                                                case ((int)(EnumConstant.IssueType.Improvement)):
                                                    <img class="img_icon" src="~/Upload/Icon/improment.svg" />
                                                    break;
                                                case ((int)(EnumConstant.IssueType.NewFeature)):
                                                    <img class="img_icon" src="~/Upload/Icon/feature.svg" />
                                                    break;
                                                case ((int)(EnumConstant.IssueType.Task)):
                                                    <img class="img_icon" src="~/Upload/Icon/task.svg" />
                                                    break;
                                                case ((int)(EnumConstant.IssueType.Subtask)):
                                                    <img class="img_icon" src="~/Upload/Icon/task.svg" />
                                                    break;
                                                default:
                                                    <img class="img_icon" src="~/Upload/Icon/subtask.svg" />
                                                    break;
                                            }
                                            @switch (item.PriorityType)
                                            {
                                                case ((int)(EnumConstant.PriorityType.High)):
                                                    <img class="img_icon" src="~/Upload/Icon/high.svg" />
                                                    break;
                                                case ((int)(EnumConstant.PriorityType.Highest)):
                                                    <img class="img_icon" src="~/Upload/Icon/highest.svg" />
                                                    break;
                                                case ((int)(EnumConstant.PriorityType.Low)):
                                                    <img class="img_icon" src="~/Upload/Icon/low.svg" />
                                                    break;
                                                case ((int)(EnumConstant.PriorityType.Lowest)):
                                                    <img class="img_icon" src="~/Upload/Icon/lowest.svg" />
                                                    break;
                                                case ((int)(EnumConstant.PriorityType.Medium)):
                                                    <img class="img_icon" src="~/Upload/Icon/medium.svg" />
                                                    break;
                                                default:
                                                    <img class="img_icon" src="~/Upload/Icon/medium.svg" />
                                                    break;
                                            }
                                            <div style="float:right">
                                                <p>
                                                    <a href="/Module/Detail/@item.Id">
                                                        <strong>@item.Name</strong>
                                                    </a>
                                                    @if (string.IsNullOrEmpty(item.Avatar))
                                                    {
                                                        <img alt="image" src="/Template/assets/img/avatar/avatar-1.png" class="rounded-circle mr-1 img_icon_avatar">
                                                    }
                                                    else
                                                    {
                                                        <img alt="image" src="@Url.Content(item.Avatar)" class="rounded-circle mr-1 img_icon_avatar">
                                                    }
                                                </p>

                                            </div>
                                        </div>

                                    </div>
                                </div>
                            }
                        }
                    </div>
                </div>

                <div class="col">
                    <h3 style="text-align:center">Done</h3>
                    <div id="done-right" class="list-group col card card_item_content_issue">
                        @foreach (var item in modules)
                        {
                            if (item.Status == (int)(EnumConstant.IssueStatus.Done))
                            {
                                <div class="w3-card-4 card_item_issue" id="@item.Id">
                                    <div class="w3-container">
                                        <p>@item.Summary</p>
                                        <div>
                                            @switch (item.IssueType)
                                            {
                                                case ((int)(EnumConstant.IssueType.Bug)):
                                                    <img class="img_icon" src="~/Upload/Icon/bug.svg" />
                                                    break;
                                                case ((int)(EnumConstant.IssueType.Improvement)):
                                                    <img class="img_icon" src="~/Upload/Icon/improment.svg" />
                                                    break;
                                                case ((int)(EnumConstant.IssueType.NewFeature)):
                                                    <img class="img_icon" src="~/Upload/Icon/feature.svg" />
                                                    break;
                                                case ((int)(EnumConstant.IssueType.Task)):
                                                    <img class="img_icon" src="~/Upload/Icon/task.svg" />
                                                    break;
                                                case ((int)(EnumConstant.IssueType.Subtask)):
                                                    <img class="img_icon" src="~/Upload/Icon/task.svg" />
                                                    break;
                                                default:
                                                    <img class="img_icon" src="~/Upload/Icon/subtask.svg" />
                                                    break;
                                            }
                                            @switch (item.PriorityType)
                                            {
                                                case ((int)(EnumConstant.PriorityType.High)):
                                                    <img class="img_icon" src="~/Upload/Icon/high.svg" />
                                                    break;
                                                case ((int)(EnumConstant.PriorityType.Highest)):
                                                    <img class="img_icon" src="~/Upload/Icon/highest.svg" />
                                                    break;
                                                case ((int)(EnumConstant.PriorityType.Low)):
                                                    <img class="img_icon" src="~/Upload/Icon/low.svg" />
                                                    break;
                                                case ((int)(EnumConstant.PriorityType.Lowest)):
                                                    <img class="img_icon" src="~/Upload/Icon/lowest.svg" />
                                                    break;
                                                case ((int)(EnumConstant.PriorityType.Medium)):
                                                    <img class="img_icon" src="~/Upload/Icon/medium.svg" />
                                                    break;
                                                default:
                                                    <img class="img_icon" src="~/Upload/Icon/medium.svg" />
                                                    break;
                                            }
                                            <div style="float:right">
                                                <p>
                                                    <a href="/Module/Detail/@item.Id">
                                                        <strong style="text-decoration:line-through">@item.Name</strong>
                                                    </a>
                                                    @if (string.IsNullOrEmpty(item.Avatar))
                                                    {
                                                        <img alt="image" src="/Template/assets/img/avatar/avatar-1.png" class="rounded-circle mr-1 img_icon_avatar">
                                                    }
                                                    else
                                                    {
                                                        <img alt="image" src="@Url.Content(item.Avatar)" class="rounded-circle mr-1 img_icon_avatar">
                                                    }
                                                </p>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            }
                        }
                    </div>
                </div>
            </div>
        </div>

    </section>

    <div class="modal fade modal-create-issue" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" style="">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="exampleModalLabel"><strong>Create Issue</strong> </h4>
                    <button type="button" class="close btn_close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body body_issue">
                    <form method="post" action="/Module/Create">
                        <div class="modal-body">
                            <div class="form-group" style="display:none">
                                <label for="recipient-name" class="col-form-label">Project:</label>
                                @Html.DropDownListFor(model => model.IdProject, (IEnumerable<SelectListItem>)ViewBag.Projects, htmlAttributes: new { @class = "form-control col-lg-4" })
                            </div>
                            <div class="form-group">
                                <div class="col col-lg-6">
                                    <h6>Issue Type</h6>
                                    <div class="dropdown d-inline">
                                        <button class="btn btn-default dropdown-toggle" data-id="@((int)EnumConstant.IssueType.NewFeature)" name="IssueType" value="@((int)EnumConstant.IssueType.NewFeature)" type="button" id="issueType_create" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            @foreach (var item in Enum.GetNames(typeof(Management.Common.EnumConstant.IssueType)))
                                            {
                                                if (item == Management.Common.Extensions.GetValue((int)EnumConstant.IssueType.NewFeature, "issue"))
                                                {
                                                    switch (Model.IssueType)
                                                    {
                                                        case ((int)(EnumConstant.IssueType.Bug)):
                                                            <img class="img_icon" src="~/Upload/Icon/bug.svg" />
                                                            break;
                                                        case ((int)(EnumConstant.IssueType.Improvement)):
                                                            <img class="img_icon" src="~/Upload/Icon/improment.svg" />
                                                            break;
                                                        case ((int)(EnumConstant.IssueType.NewFeature)):
                                                            <img class="img_icon" src="~/Upload/Icon/feature.svg" />
                                                            break;
                                                        case ((int)(EnumConstant.IssueType.Task)):
                                                            <img class="img_icon" src="~/Upload/Icon/task.svg" />
                                                            break;
                                                        case ((int)(EnumConstant.IssueType.Subtask)):
                                                            <img class="img_icon" src="~/Upload/Icon/subtask.svg" />
                                                            break;
                                                        default:
                                                            <img class="img_icon" src="~/Upload/Icon/subtask.svg" />
                                                            break;
                                                    }<strong>@item</strong>
                                                }
                                            }
                                        </button>
                                        <div class="dropdown-menu">
                                            @foreach (var item in Enum.GetNames(typeof(Management.Common.EnumConstant.IssueType)))
                                            {
                                                if (item != Management.Common.Extensions.GetValue((int)EnumConstant.IssueType.NewFeature, "issue"))
                                                {
                                                    switch (item)
                                                    {
                                                        case "Bug":
                                                            <a class="dropdown-item has-icon btn_issueType_create" data-id="@((int)EnumConstant.IssueType.Bug)"><img class="img_icon" src="~/Upload/Icon/bug.svg" /><strong class="pointer_enum">@item</strong></a>
                                                            break;
                                                        case "Improvement":
                                                            <a class="dropdown-item has-icon btn_issueType_create" data-id="@((int)EnumConstant.IssueType.Improvement)"><img class="img_icon" src="~/Upload/Icon/improment.svg" /><strong class="pointer_enum">@item</strong></a>
                                                            break;
                                                        case "NewFeature":
                                                            <a class="dropdown-item has-icon btn_issueType_create" data-id="@((int)EnumConstant.IssueType.NewFeature)"><img class="img_icon" src="~/Upload/Icon/feature.svg" /><strong class="pointer_enum">@item</strong></a>
                                                            break;
                                                        case "Task":
                                                            <a class="dropdown-item has-icon btn_issueType_create" data-id="@((int)EnumConstant.IssueType.Task)"><img class="img_icon" src="~/Upload/Icon/task.svg" /><strong class="pointer_enum">@item</strong></a>
                                                            break;
                                                        case "Subtask":
                                                            <a class="dropdown-item has-icon btn_issueType_create" data-id="@((int)EnumConstant.IssueType.Subtask)"> <img class="img_icon" src="~/Upload/Icon/subtask.svg" /><strong class="pointer_enum">@item</strong></a>
                                                            break;
                                                        default:
                                                            <a class="dropdown-item has-icon btn_issueType_create" data-id="@((int)EnumConstant.IssueType.NewFeature)"><img class="img_icon" src="~/Upload/Icon/feature.svg" /><strong class="pointer_enum">@item</strong></a>
                                                            break;
                                                    }
                                                }
                                            }
                                        </div>
                                        <input name="IssueType" id="issue_type" type="hidden" />
                                    </div>
                                </div>

                            </div>
                            <div class="form-group">
                                <div class="col col-lg-12">
                                    <h6>Reporter</h6>
                                    <div class="dropdown d-inline">
                                        <button class="btn btn-light dropdown-toggle" data-id="@userFirst.Id" name="report_user" value="@userFirst.Id" type="button" id="report_user_create" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            @if (string.IsNullOrEmpty(userFirst.Avatar))
                                            {
                                                <img class="img_icon_avatar rounded-circle mr-1" src="~/Template/assets/img/avatar/avatar-1.png" />
                                            }
                                            else
                                            {
                                                <img class="img_icon_avatar rounded-circle mr-1" src="@Url.Content(userFirst.Avatar) " />
                                            }
                                            <strong>
                                                @if (!string.IsNullOrEmpty(userFirst.Name))
                                                {
                                                    @userFirst.Name
                                                }
                                                else
                                                {
                                                    @userFirst.UserName
                                                }
                                            </strong>
                                        </button>
                                        <div class="dropdown-menu">
                                            @foreach (var item in users)
                                            {
                                                if (item.Id != userFirst.Id)
                                                {
                                                    <a class="dropdown-item has-icon btn_reportUser_create" data-id="@item.Id">

                                                        @if (string.IsNullOrEmpty(item.Avatar))
                                                        {
                                                            <img class="img_icon_avatar rounded-circle mr-1" src="~/Template/assets/img/avatar/avatar-1.png" />
                                                        }
                                                        else
                                                        {
                                                            <img class="img_icon_avatar rounded-circle mr-1" src="@Url.Content(item.Avatar) " />
                                                        }
                                                        <strong class="pointer_enum">
                                                            @if (string.IsNullOrEmpty(item.Name))
                                                            {
                                                                @item.UserName
                                                            }
                                                            else
                                                            {
                                                                @item.Name
                                                            }
                                                        </strong>
                                                    </a>
                                                }
                                            }

                                        </div>
                                    </div>
                                    <input name="Reporter" id="reporter_id" type="hidden" />
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col col-lg-5">
                                    <label for="recipient-name" class="col-form-label">Time:</label>
                                    <input class="form-control col-lg-4" type="number" name="Point" required />(eg. 3w 4d 12h)
                                </div>

                            </div>

                            <div class="form-group">

                                <div class="col col-lg-12">
                                    <h6>Assignee</h6>
                                    <div class="dropdown d-inline">
                                        <button class="btn btn-light dropdown-toggle" data-id="@userFirst.Id" name="assign_user" value="@userFirst.Id" type="button" id="assign_user_create" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            @if (string.IsNullOrEmpty(userFirst.Avatar))
                                            {
                                                <img class="img_icon_avatar rounded-circle mr-1" src="~/Template/assets/img/avatar/avatar-1.png" />

                                            }
                                            else
                                            {
                                                <img class="img_icon_avatar rounded-circle mr-1" src="@Url.Content(userFirst.Avatar) " />
                                            }
                                            <strong>
                                                @if (!string.IsNullOrEmpty(userFirst.Name))
                                                {
                                                    @userFirst.Name
                                                }
                                                else
                                                {
                                                    @userFirst.UserName
                                                }
                                            </strong>
                                        </button>
                                        <div class="dropdown-menu">
                                            @foreach (var item in users)
                                            {
                                                if (item.Id != userFirst.Id)
                                                {
                                                    <a class="dropdown-item has-icon btn_assigntUser_create" data-id="@item.Id">

                                                        @if (string.IsNullOrEmpty(item.Avatar))
                                                        {
                                                            <img class="img_icon_avatar rounded-circle mr-1" src="~/Template/assets/img/avatar/avatar-1.png" />
                                                        }
                                                        else
                                                        {
                                                            <img class="img_icon_avatar rounded-circle mr-1" src="@Url.Content(item.Avatar) " />
                                                        }
                                                        <strong class="pointer_enum">
                                                            @if (string.IsNullOrEmpty(item.Name))
                                                            {
                                                                @item.UserName
                                                            }
                                                            else
                                                            {
                                                                @item.Name
                                                            }
                                                        </strong>
                                                    </a>
                                                }
                                            }
                                        </div>
                                    </div>
                                    <input name="UserId" id="user_id_assignes" type="hidden" />
                                </div>
                            </div>


                            <div class="form-group">

                                <div class="col col-lg-6">
                                    <h6>Priority</h6>
                                    <div class="dropdown d-inline">
                                        <button class="btn btn-default dropdown-toggle" data-id="@((int)EnumConstant.PriorityType.Medium)" name="priority_create" value="@((int)EnumConstant.PriorityType.Medium)" type="button" id="priority_create" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            @foreach (var item in Enum.GetNames(typeof(Management.Common.EnumConstant.PriorityType)))
                                            {
                                                if (item == Management.Common.Extensions.GetValue((int)EnumConstant.PriorityType.Medium, "priority"))
                                                {
                                                    switch (Model.PriorityType)
                                                    {
                                                        case ((int)(EnumConstant.PriorityType.High)):
                                                            <img class="img_icon" src="~/Upload/Icon/high.svg" />
                                                            break;
                                                        case ((int)(EnumConstant.PriorityType.Highest)):
                                                            <img class="img_icon" src="~/Upload/Icon/highest.svg" />
                                                            break;
                                                        case ((int)(EnumConstant.PriorityType.Low)):
                                                            <img class="img_icon" src="~/Upload/Icon/low.svg" />
                                                            break;
                                                        case ((int)(EnumConstant.PriorityType.Lowest)):
                                                            <img class="img_icon" src="~/Upload/Icon/lowest.svg" />
                                                            break;
                                                        case ((int)(EnumConstant.PriorityType.Medium)):
                                                            <img class="img_icon" src="~/Upload/Icon/medium.svg" />
                                                            break;
                                                        default:
                                                            <img class="img_icon" src="~/Upload/Icon/medium.svg" />
                                                            break;
                                                    }<strong>@item</strong>
                                                }
                                            }
                                        </button>
                                        <div class="dropdown-menu">
                                            @foreach (var item in Enum.GetNames(typeof(Management.Common.EnumConstant.PriorityType)))
                                            {
                                                if (item != Management.Common.Extensions.GetValue((int)EnumConstant.PriorityType.Medium, "priority"))
                                                {
                                                    switch (item)
                                                    {
                                                        case "Highest":
                                                            <a class="dropdown-item has-icon btn_priorityType_create" data-id="@((int)EnumConstant.PriorityType.Highest)"><img class="img_icon" src="~/Upload/Icon/highest.svg" /><strong class="pointer_enum">@item</strong></a>
                                                            break;
                                                        case "High":
                                                            <a class="dropdown-item has-icon btn_priorityType_create" data-id="@((int)EnumConstant.PriorityType.High)"><img class="img_icon" src="~/Upload/Icon/high.svg" /><strong class="pointer_enum">@item</strong></a>
                                                            break;
                                                        case "Medium":
                                                            <a class="dropdown-item has-icon btn_priorityType_create" data-id="@((int)EnumConstant.PriorityType.Medium)"><img class="img_icon" src="~/Upload/Icon/medium.svg" /><strong class="pointer_enum">@item</strong></a>
                                                            break;
                                                        case "Low":
                                                            <a class="dropdown-item has-icon btn_priorityType_create" data-id="@((int)EnumConstant.PriorityType.Low)"><img class="img_icon" src="~/Upload/Icon/low.svg" /><strong class="pointer_enum">@item</strong></a>
                                                            break;
                                                        case "Lowest":
                                                            <a class="dropdown-item has-icon btn_priorityType_create" data-id="@((int)EnumConstant.PriorityType.Lowest)"> <img class="img_icon" src="~/Upload/Icon/lowest.svg" /><strong class="pointer_enum">@item</strong></a>
                                                            break;
                                                        default:
                                                            <a class="dropdown-item has-icon btn_priorityType_create" data-id="@((int)EnumConstant.PriorityType.Medium)"><img class="img_icon" src="~/Upload/Icon/medium.svg" /><strong class="pointer_enum">@item</strong></a>
                                                            break;
                                                    }
                                                }
                                            }
                                        </div>
                                    </div>
                                    <input name="PriorityType" id="priority_type" type="hidden" />
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col col-lg-12">
                                    <label for="recipient-name" class="col-form-label">Sumary:</label>
                                    <input name="Summary" class="form-control" required maxlength="100" />
                                </div>
                                @*<textarea name="Description" rows="10" cols="80" class="form-control" style="height:150px"></textarea>*@
                                @*@Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })*@
                            </div>
                            <div class="form-group">
                                <div class="col col-lg-12">
                                    <label for="recipient-name" class="col-form-label">Descripton:</label>
                                    <textarea class="summernote form-control" name="Description"></textarea>
                                </div>
                                @*<button id="edit" class="btn btn-primary"  type="button">Edit 1</button>
                                    <button id="save" class="btn btn-primary"  type="button">Save 2</button>
                                    <div class="click2edit summernote">click2edit</div>*@
                                @*<textarea name="Description" rows="10" cols="80" class="form-control" style="height:150px"></textarea>*@
                                @*@Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })*@
                            </div>

                            <div class="form-group">
                                <div class="col col-lg-6">
                                    <label for="recipient-name" class="col-form-label">Issue Parent:</label>
                                    @Html.DropDownList("IdModuleParent", (IEnumerable<SelectListItem>)ViewBag.ModuleParent, "", htmlAttributes: new { @class = "form-control col-lg-4" })
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            @*<button type="button" class="btn btn-secondary btn_close" data-dismiss="modal">Close</button>*@
                            <button type="submit" class="btn btn-primary">Create</button>
                        </div>
                    </form>
                    @*<div class="modal-footer">
                            <button type="button" class="btn btn-secondary btn_close" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Create</button>
                        </div>*@
                </div>
            </div>
        </div>

    </div>
</div>
<style>
    .form_control_search {
        display: inline-block;
        vertical-align: middle;
        margin-right: -6px;
        background: #fff;
        border-color: #fff;
        width: 150px !important;
    }

    .btn_search {
        border-radius: 0 3px 3px 0;
        background-color: #fff;
        padding: 9px 15px 9px 15px;
        border-color: transparent;
        height: 42px;
    }

    .form_control_search:focus {
        border-color: #fff;
    }

    .search_element_board {
        display: inline-block;
    }

    .modal-backdrop, .modal-backdrop.in {
        display: none;
    }
</style>
<!-- Latest Sortable -->
<script src="~/Plugin_SortTable/Sortable.js"></script>

<script src="~/Plugin_SortTable/st/prettify/prettify.js"></script>

<script src="~/Plugin_SortTable/st/prettify/run_prettify.js"></script>

<script src="~/Plugin_SortTable/st/app.js"></script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

@*<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>*@

<link rel="stylesheet" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css">

<script src="https://code.jquery.com/jquery-2.1.3.js"></script>

<script src="https://code.jquery.com/ui/1.11.2/jquery-ui.js"></script>

<script src="https://cdn.jsdelivr.net/npm/jquery-sortablejs@latest/jquery-sortable.js"></script>

<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
@section scripts{
    <script>

        @*$('.btn_create_issue').click(function (e) {
            e.preventDefault();
            $('.body_issue').load("/Module/Create/?projectId=@ViewBag.IdProject .section-body", function (response, status, request) {
                this; // dom element

            });
        });*@
        //$('.btn_add').click(function (e) {
        //    //e.preventDefault();
        //    //$('<div class="list-group-item">Item 7</div>').appendTo('#todo-left');
        //    ////$('#todo-left').sortable("refresh");
        //    //var itemOrder = $('#todo-left').sortable("toArray");
        //    //for (var i = 0; i < itemOrder.length; i++) {
        //    //    alert("Position: " + i + " ID: " + itemOrder[i]);
        //    //}
        //});

        //$('.btn_close').click(function (e) {
        //    $('.modal-backdrop').remove();
        //    e.preventDefault();
        //});

    </script>
    <script>
        $(document).ready(function () {
            $('#reporter_id').val($('#report_user_create').attr('data-id'));
            $('.btn_reportUser_create').click(function (e) {
                e.preventDefault();
                var idSrc = $(this).attr('data-id');
                var idDes = $('#report_user_create').attr('data-id');
                var nameSrc = $(this).find('strong').html();
                var nameDes = $('#report_user_create').find('strong').html();
                var imgSrc = $(this).find('img').attr('src');
                var imgDes = $('#report_user_create').find('img').attr('src');

                //change data src to des
                $('#report_user_create').attr('data-id', idSrc);
                $('#report_user_create').find('img').attr('src', imgSrc);
                $('#report_user_create').find('strong').html(nameSrc);

                //change data des to src
                $(this).attr('data-id', idDes);
                $(this).find('strong').html(nameDes);
                $(this).find('img').attr('src', imgDes);

                //update value input
                $('# reporter_id').val(idSrc);
            });

            $('#user_id_assignes').val($('#assign_user_create').attr('data-id'));
            $('.btn_assigntUser_create').click(function (e) {
                e.preventDefault();
                var idSrc = $(this).attr('data-id');
                var idDes = $('#assign_user_create').attr('data-id');
                var nameSrc = $(this).find('strong').html();
                var nameDes = $('#assign_user_create').find('strong').html();
                var imgSrc = $(this).find('img').attr('src');
                var imgDes = $('#assign_user_create').find('img').attr('src');

                //change data src to des
                $('#assign_user_create').attr('data-id', idSrc);
                $('#assign_user_create').find('img').attr('src', imgSrc);
                $('#assign_user_create').find('strong').html(nameSrc);

                //change data des to src
                $(this).attr('data-id', idDes);
                $(this).find('strong').html(nameDes);
                $(this).find('img').attr('src', imgDes);

                // update value input
                $('#user_id_assignes').val(idSrc);
            });

            //PriorityType
            $('#priority_type').val($('#priority_create').attr('data-id'));
            $('.btn_priorityType_create').click(function (e) {
                e.preventDefault();
                var id = $(this).attr('data-id');
                var imgsrc = $(this).find('img').attr('src');
                var imgdes = $('#priority_create').find('img').attr('src');
                var idDes = $('#priority_create').attr('data-id');
                var htmlDes = $('#priority_create strong').html();
                var htmlSrc = $(this).find('strong').html();
                $('#priority_create').attr('value', id);
                $('#priority_create').attr('data-id', id);
                $('#priority_create').find('img').attr('src', imgsrc);
                $('#priority_create').find('strong').html(htmlSrc);
                $(this).attr('data-id', idDes);
                $(this).find('img').attr('src', imgdes);
                $(this).find('strong').html(htmlDes);

                // update value input
                $('#priority_type').val(id);
            });

            //Issue Type
            $('#issue_type').val($('#issueType_create').attr('data-id'));
            $('.btn_issueType_create').click(function (e) {
                e.preventDefault();
                var id = $(this).attr('data-id');
                var imgsrc = $(this).find('img').attr('src');
                var imgdes = $('#issueType_create').find('img').attr('src');
                var idDes = $('#issueType_create').attr('data-id');
                var htmlDes = $('#issueType_create strong').html();
                var htmlSrc = $(this).find('strong').html();
                $('#issueType_create').attr('value', id);
                $('#issueType_create').attr('data-id', id);
                $('#issueType_create').find('img').attr('src', imgsrc);
                $('#issueType_create').find('strong').html(htmlSrc);
                $(this).attr('data-id', idDes);
                $(this).find('img').attr('src', imgdes);
                $(this).find('strong').html(htmlDes);
                // update value input
                $('#issue_type').val(id);
            });
        });

    </script>
}
