﻿@model Management.Service.ViewModel.ModuleViewModel
@using Management.Common;
@{
    ViewBag.Title = "Test";
    Layout = "~/Views/Shared/_LayoutTisla.cshtml";
    var modules = (IEnumerable<Management.Service.ViewModel.ModuleViewModel>)ViewBag.Modules;
}
<!-- CSS Libraries -->

<link href="~/Template/assets/modules/izitoast/css/iziToast.min.css" rel="stylesheet" />
<link href="~/Template/sources/scss/theme/_section.css" rel="stylesheet" />
<link href="~/Template/assets/modules/prism/prism.css" rel="stylesheet" />

<div class="main-content" @*style="min-height: 874px !important; "*@>
    <section class="section">
        <div class="section-header">
            <h1>Dash Board</h1>
            <div class="section-header-breadcrumb">
                <div class="breadcrumb-item active"><a href="#">Dashboard</a></div>
                <div class="breadcrumb-item"><a href="#">Modules</a></div>
                <div class="breadcrumb-item">Toastr</div>
            </div>
        </div>
        <div class="section-body">
            @*<h2 class="section-title">Toastr</h2>*@
            <div class="search-element search_element_board">

                <input class="form-control form_control_search" type="search" placeholder="Search" aria-label="Search" data-width="250">
                <button class="btn btn_search" type="submit"><i class="fas fa-search"></i></button>

                <img alt="image" src="/Template/assets/img/avatar/avatar-1.png" style="width:30px" class="rounded-circle mr-1">
                <img alt="image" src="/Template/assets/img/avatar/avatar-1.png" style="width:30px ;margin-left:-1%" class="rounded-circle mr-1">
                @*<button style="width:30px ;height:30px;margin-left:-4%;margin-top:2%;border:1px solid ;background:#808080;color:#fff" class="rounded-circle mr-1">+2</button>*@

                <button class="btn btn-default">Only My Issue</button>
                <button class="btn btn-primary" data-toggle="modal" data-target=".modal-create-issue">Create</button>

                <div class="search-backdrop"></div>
                <div class="search-result">
                </div>
            </div>
            <div id="shared-lists" class="row">
                <div class="col">
                    <h3 style="text-align:center">Todo</h3>
                    <div id="todo-left" class="list-group col card card_item_content_issue">
                        @foreach (var item in modules)
                        {
                            if (item.Status == (int)(EnumConstant.IssueStatus.Todo))
                            {

                                <div class="w3-card-4 card_item_issue" id="@item.Id">
                                    <div class="w3-container">
                                        <p>@item.Description</p>
                                        <div>
                                            @switch (item.IssueType)
                                            {
                                                case ((int)(EnumConstant.IssueType.Bug)):
                                                    <img class="img_icon" src="~/Upload/Icon/bug.svg" />
                                                    break;
                                                case ((int)(EnumConstant.IssueType.Improvement)):
                                                    <img class="img_icon" src="~/Upload/Icon/improment.svg" />
                                                    break;
                                                case ((int)(EnumConstant.IssueType.NewFeature)):
                                                    <img class="img_icon" src="~/Upload/Icon/feature.svg" />
                                                    break;
                                                case ((int)(EnumConstant.IssueType.Task)):
                                                    <img class="img_icon" src="~/Upload/Icon/task.svg" />
                                                    break;
                                                case ((int)(EnumConstant.IssueType.Subtask)):
                                                    <img class="img_icon" src="~/Upload/Icon/task.svg" />
                                                    break;
                                                default:
                                                    <img class="img_icon" src="~/Upload/Icon/subtask.svg" />
                                                    break;
                                            }
                                            @switch (item.PriorityType)
                                            {
                                                case ((int)(EnumConstant.PriorityType.High)):
                                                    <img class="img_icon" src="~/Upload/Icon/high.svg" />
                                                    break;
                                                case ((int)(EnumConstant.PriorityType.Highest)):
                                                    <img class="img_icon" src="~/Upload/Icon/highest.svg" />
                                                    break;
                                                case ((int)(EnumConstant.PriorityType.Low)):
                                                    <img class="img_icon" src="~/Upload/Icon/low.svg" />
                                                    break;
                                                case ((int)(EnumConstant.PriorityType.Lowest)):
                                                    <img class="img_icon" src="~/Upload/Icon/lowest.svg" />
                                                    break;
                                                case ((int)(EnumConstant.PriorityType.Medium)):
                                                    <img class="img_icon" src="~/Upload/Icon/medium.svg" />
                                                    break;
                                                default:
                                                    <img class="img_icon" src="~/Upload/Icon/medium.svg" />
                                                    break;
                                            }
                                            <div style="float:right">
                                                <p>
                                                    <a href="/Module/Detail/@item.Id">
                                                        <strong>@item.Name</strong>
                                                    </a>
                                                    @if (string.IsNullOrEmpty(item.Avatar))
                                                    {
                                                        <img alt="image" src="/Template/assets/img/avatar/avatar-1.png" class="rounded-circle mr-1 img_icon_avatar">
                                                    }
                                                    else
                                                    {
                                                        <img alt="image" src="@Url.Content(item.Avatar)" class="rounded-circle mr-1 img_icon_avatar">
                                                    }
                                                </p>

                                            </div>
                                        </div>

                                    </div>
                                </div>
                            }
                        }
                    </div>
                </div>

                <div class="col">
                    <h3 style="text-align:center">Progress</h3>
                    <div id="process-mid" class="list-group col card  card_item_content_issue">
                        @foreach (var item in modules)
                        {
                            if (item.Status == (int)(EnumConstant.IssueStatus.Progress))
                            {
                                <div class="w3-card-4 card_item_issue" id="@item.Id">
                                    <div class="w3-container">
                                        <p>@item.Description</p>
                                        <div>
                                            @switch (item.IssueType)
                                            {
                                                case ((int)(EnumConstant.IssueType.Bug)):
                                                    <img class="img_icon" src="~/Upload/Icon/bug.svg" />
                                                    break;
                                                case ((int)(EnumConstant.IssueType.Improvement)):
                                                    <img class="img_icon" src="~/Upload/Icon/improment.svg" />
                                                    break;
                                                case ((int)(EnumConstant.IssueType.NewFeature)):
                                                    <img class="img_icon" src="~/Upload/Icon/feature.svg" />
                                                    break;
                                                case ((int)(EnumConstant.IssueType.Task)):
                                                    <img class="img_icon" src="~/Upload/Icon/task.svg" />
                                                    break;
                                                case ((int)(EnumConstant.IssueType.Subtask)):
                                                    <img class="img_icon" src="~/Upload/Icon/task.svg" />
                                                    break;
                                                default:
                                                    <img class="img_icon" src="~/Upload/Icon/subtask.svg" />
                                                    break;
                                            }
                                            @switch (item.PriorityType)
                                            {
                                                case ((int)(EnumConstant.PriorityType.High)):
                                                    <img class="img_icon" src="~/Upload/Icon/high.svg" />
                                                    break;
                                                case ((int)(EnumConstant.PriorityType.Highest)):
                                                    <img class="img_icon" src="~/Upload/Icon/highest.svg" />
                                                    break;
                                                case ((int)(EnumConstant.PriorityType.Low)):
                                                    <img class="img_icon" src="~/Upload/Icon/low.svg" />
                                                    break;
                                                case ((int)(EnumConstant.PriorityType.Lowest)):
                                                    <img class="img_icon" src="~/Upload/Icon/lowest.svg" />
                                                    break;
                                                case ((int)(EnumConstant.PriorityType.Medium)):
                                                    <img class="img_icon" src="~/Upload/Icon/medium.svg" />
                                                    break;
                                                default:
                                                    <img class="img_icon" src="~/Upload/Icon/medium.svg" />
                                                    break;
                                            }
                                            <div style="float:right">
                                                <p>
                                                    <a href="/Module/Detail/@item.Id">
                                                        <strong>@item.Name</strong>
                                                    </a>

                                                    @if (string.IsNullOrEmpty(item.Avatar))
                                                    {
                                                        <img alt="image" src="/Template/assets/img/avatar/avatar-1.png" class="rounded-circle mr-1 img_icon_avatar">
                                                    }
                                                    else
                                                    {
                                                        <img alt="image" src="@Url.Content(item.Avatar)" class="rounded-circle mr-1 img_icon_avatar">
                                                    }
                                                </p>

                                            </div>
                                        </div>

                                    </div>
                                </div>
                            }
                        }
                    </div>
                </div>

                <div class="col">
                    <h3 style="text-align:center">Review</h3>
                    <div id="review-mid" class="list-group col card  card_item_content_issue">
                        @foreach (var item in modules)
                        {
                            if (item.Status == (int)(EnumConstant.IssueStatus.Review))
                            {
                                <div class="w3-card-4 card_item_issue" id="@item.Id">
                                    <div class="w3-container">
                                        <p>@item.Description</p>
                                        <div>
                                            @switch (item.IssueType)
                                            {
                                                case ((int)(EnumConstant.IssueType.Bug)):
                                                    <img class="img_icon" src="~/Upload/Icon/bug.svg" />
                                                    break;
                                                case ((int)(EnumConstant.IssueType.Improvement)):
                                                    <img class="img_icon" src="~/Upload/Icon/improment.svg" />
                                                    break;
                                                case ((int)(EnumConstant.IssueType.NewFeature)):
                                                    <img class="img_icon" src="~/Upload/Icon/feature.svg" />
                                                    break;
                                                case ((int)(EnumConstant.IssueType.Task)):
                                                    <img class="img_icon" src="~/Upload/Icon/task.svg" />
                                                    break;
                                                case ((int)(EnumConstant.IssueType.Subtask)):
                                                    <img class="img_icon" src="~/Upload/Icon/task.svg" />
                                                    break;
                                                default:
                                                    <img class="img_icon" src="~/Upload/Icon/subtask.svg" />
                                                    break;
                                            }
                                            @switch (item.PriorityType)
                                            {
                                                case ((int)(EnumConstant.PriorityType.High)):
                                                    <img class="img_icon" src="~/Upload/Icon/high.svg" />
                                                    break;
                                                case ((int)(EnumConstant.PriorityType.Highest)):
                                                    <img class="img_icon" src="~/Upload/Icon/highest.svg" />
                                                    break;
                                                case ((int)(EnumConstant.PriorityType.Low)):
                                                    <img class="img_icon" src="~/Upload/Icon/low.svg" />
                                                    break;
                                                case ((int)(EnumConstant.PriorityType.Lowest)):
                                                    <img class="img_icon" src="~/Upload/Icon/lowest.svg" />
                                                    break;
                                                case ((int)(EnumConstant.PriorityType.Medium)):
                                                    <img class="img_icon" src="~/Upload/Icon/medium.svg" />
                                                    break;
                                                default:
                                                    <img class="img_icon" src="~/Upload/Icon/medium.svg" />
                                                    break;
                                            }
                                            <div style="float:right">
                                                <p>
                                                    <a href="/Module/Detail/@item.Id">
                                                        <strong>@item.Name</strong>
                                                    </a>
                                                    @if (string.IsNullOrEmpty(item.Avatar))
                                                    {
                                                        <img alt="image" src="/Template/assets/img/avatar/avatar-1.png" class="rounded-circle mr-1 img_icon_avatar">
                                                    }
                                                    else
                                                    {
                                                        <img alt="image" src="@Url.Content(item.Avatar)" class="rounded-circle mr-1 img_icon_avatar">
                                                    }
                                                </p>

                                            </div>
                                        </div>

                                    </div>
                                </div>
                            }
                        }
                    </div>
                </div>

                <div class="col">
                    <h3 style="text-align:center">Done</h3>
                    <div id="done-right" class="list-group col card card_item_content_issue">
                        @foreach (var item in modules)
                        {
                            if (item.Status == (int)(EnumConstant.IssueStatus.Done))
                            {
                                <div class="w3-card-4 card_item_issue" id="@item.Id">
                                    <div class="w3-container">
                                        <p>@item.Description</p>
                                        <div>
                                            @switch (item.IssueType)
                                            {
                                                case ((int)(EnumConstant.IssueType.Bug)):
                                                    <img class="img_icon" src="~/Upload/Icon/bug.svg" />
                                                    break;
                                                case ((int)(EnumConstant.IssueType.Improvement)):
                                                    <img class="img_icon" src="~/Upload/Icon/improment.svg" />
                                                    break;
                                                case ((int)(EnumConstant.IssueType.NewFeature)):
                                                    <img class="img_icon" src="~/Upload/Icon/feature.svg" />
                                                    break;
                                                case ((int)(EnumConstant.IssueType.Task)):
                                                    <img class="img_icon" src="~/Upload/Icon/task.svg" />
                                                    break;
                                                case ((int)(EnumConstant.IssueType.Subtask)):
                                                    <img class="img_icon" src="~/Upload/Icon/task.svg" />
                                                    break;
                                                default:
                                                    <img class="img_icon" src="~/Upload/Icon/subtask.svg" />
                                                    break;
                                            }
                                            @switch (item.PriorityType)
                                            {
                                                case ((int)(EnumConstant.PriorityType.High)):
                                                    <img class="img_icon" src="~/Upload/Icon/high.svg" />
                                                    break;
                                                case ((int)(EnumConstant.PriorityType.Highest)):
                                                    <img class="img_icon" src="~/Upload/Icon/highest.svg" />
                                                    break;
                                                case ((int)(EnumConstant.PriorityType.Low)):
                                                    <img class="img_icon" src="~/Upload/Icon/low.svg" />
                                                    break;
                                                case ((int)(EnumConstant.PriorityType.Lowest)):
                                                    <img class="img_icon" src="~/Upload/Icon/lowest.svg" />
                                                    break;
                                                case ((int)(EnumConstant.PriorityType.Medium)):
                                                    <img class="img_icon" src="~/Upload/Icon/medium.svg" />
                                                    break;
                                                default:
                                                    <img class="img_icon" src="~/Upload/Icon/medium.svg" />
                                                    break;
                                            }
                                            <div style="float:right">
                                                <p>
                                                    <a href="/Module/Detail/@item.Id">
                                                        <strong style="text-decoration:line-through">@item.Name</strong>
                                                    </a>
                                                    @if (string.IsNullOrEmpty(item.Avatar))
                                                    {
                                                        <img alt="image" src="/Template/assets/img/avatar/avatar-1.png" class="rounded-circle mr-1 img_icon_avatar">
                                                    }
                                                    else
                                                    {
                                                        <img alt="image" src="@Url.Content(item.Avatar)" class="rounded-circle mr-1 img_icon_avatar">
                                                    }
                                                </p>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            }
                        }
                    </div>
                </div>
            </div>
        </div>

    </section>

    <div class="modal fade modal-create-issue" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" style="height:600px">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="exampleModalLabel"><strong>Create Issue</strong> </h4>
                    <button type="button" class="close btn_close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form method="post" action="/Board/Insert">
                    <div class="modal-body">

                        <div class="form-group">
                            <label for="recipient-name" class="col-form-label">Project:</label>
                            @*<input type="text" class="form-control" id="recipient-name">*@
                            @Html.DropDownListFor(model => model.IdProject, (IEnumerable<SelectListItem>)ViewBag.Projects, htmlAttributes: new { @class = "form-control col-lg-4" })

                        </div>
                        <div class="form-group">
                            <label for="recipient-name" class="col-form-label">Issue Type:</label>
                            <select name="IssueType" class="form-control col-lg-4">
                                <option value=1>Improvement</option>
                                <option value=2>Task</option>
                                <option value=3>New Feature</option>
                                <option value=4>Bug</option>
                                <option value=5>Subtask</option>
                            </select>

                        </div>
                        <div class="form-group">
                            <label for="recipient-name" class="col-form-label">Reporter:</label>
                            @Html.DropDownListFor(model => model.Reporter, (IEnumerable<SelectListItem>)ViewBag.Reporter, htmlAttributes: new { @class = "form-control col-lg-4" })
                        </div>
                        <div class="form-group">
                            <label for="recipient-name" class="col-form-label">Time:</label>
                            <input class="form-control col-lg-4" type="number" name="Point" />(eg. 3w 4d 12h)
                        </div>
                        <div class="form-group">
                            <label for="recipient-name" class="col-form-label">Assignee:</label>
                            @Html.DropDownListFor(model => model.UserId, (IEnumerable<SelectListItem>)ViewBag.Assignees, htmlAttributes: new { @class = "form-control col-lg-4" })

                        </div>


                        <div class="form-group">
                            <label for="recipient-name" class="col-form-label">Priority:</label>
                            <select name="PriorityType" class="form-control col-lg-4">
                                <option value=1>Highest</option>
                                <option value=2>High</option>
                                <option value=3>Low</option>
                                <option value=4>Lowest</option>
                            </select>

                        </div>

                        <div class="form-group">
                            <label for="recipient-name" class="col-form-label">Descripton:</label>
                            <textarea name="Description" rows="10" cols="80" class="form-control" style="height:150px"></textarea>
                            @*@Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })*@
                        </div>

                        <div class="form-group">
                            <label for="recipient-name" class="col-form-label">Issue Parent:</label>
                            @Html.DropDownList("IdModuleParent", (IEnumerable<SelectListItem>)ViewBag.ModuleParent, "", htmlAttributes: new { @class = "form-control col-lg-4" })
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary btn_close" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Create</button>
                    </div>
                </form>
            </div>
        </div>
    </div>



    <div class="btn-group">
        <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Right-aligned menu
        </button>
        <div class="dropdown-menu dropdown-menu-right">
            <button class="dropdown-item" type="button">Action</button>
            <button class="dropdown-item" type="button">Another action</button>
            <button class="dropdown-item" type="button">Something else here</button>
        </div>
    </div>
</div>



<style>
    .form_control_search {
        display: inline-block;
        vertical-align: middle;
        margin-right: -6px;
        background: #fff;
        border-color: #fff;
        width: 150px !important;
    }

    .btn_search {
        border-radius: 0 3px 3px 0;
        background-color: #fff;
        padding: 9px 15px 9px 15px;
        border-color: transparent;
        height: 42px;
    }

    .form_control_search:focus {
        border-color: #fff;
    }

    .search_element_board {
        display: inline-block;
    }
</style>
<!-- Latest Sortable -->
<script src="~/Plugin_SortTable/Sortable.js"></script>
<script src="~/Plugin_SortTable/st/prettify/prettify.js"></script>
<script src="~/Plugin_SortTable/st/prettify/run_prettify.js"></script>
<script src="~/Plugin_SortTable/st/app.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css">
<script src="https://code.jquery.com/jquery-2.1.3.js"></script>
<script src="https://code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery-sortablejs@latest/jquery-sortable.js"></script>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<script>
    $('.btn_add').click(function (e) {
        //e.preventDefault();
        //$('<div class="list-group-item">Item 7</div>').appendTo('#todo-left');
        ////$('#todo-left').sortable("refresh");
        //var itemOrder = $('#todo-left').sortable("toArray");
        //for (var i = 0; i < itemOrder.length; i++) {
        //    alert("Position: " + i + " ID: " + itemOrder[i]);
        //}
    });

    $('.btn_close').click(function (e) {
        $('.modal-backdrop').remove();
        e.preventDefault();

    });

</script>
