﻿ .section .section-header {
    margin-left: -30px;
    margin-right: -30px;
    margin-top: -10px;
    border-radius: 0;
    border-top: 1px solid #f9f9f9;
    padding-left: 35px;
    padding-right: 35px;
}
/*-webkit-tap-highlight-color: transparent;
--blue: #007bff;
--indigo: #6610f2;
--purple: #6f42c1;
--pink: #e83e8c;
--red: #dc3545;
--orange: #fd7e14;
--yellow: #ffc107;
--green: #28a745;
--teal: #20c997;
--cyan: #17a2b8;
--white: #fff;
--gray: #6c757d;
--gray-dark: #343a40;
--breakpoint-xs: 0;
--breakpoint-sm: 576px;
--breakpoint-md: 768px;
--breakpoint-lg: 992px;
--breakpoint-xl: 1200px;
--font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
--font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
--primary: color(primary);
--secondary: color(fontdark);
--success: color(success);
--info: color(info);
--warning: color(warning);
--danger: color(danger);
--light: color(light);
--dark: color(dark);
line-height: 1.5;
text-align: left;
font-size: 14px;
font-weight: 400;
font-family: 'Nunito', 'Segoe UI', arial;
color: #6c757d;
box-sizing: border-box;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.03);
background-color: #fff;
border: none;
position: relative;
margin-bottom: 30px;
padding: 20px;
display: flex;
align-items: center;
margin-left: -30px;
margin-right: -30px;
margin-top: -10px;
border-radius: 0;
border-top: 1px solid #f9f9f9;
padding-left: 35px;
padding-right: 35px;*/