﻿@model Management.Entity.Project

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Project</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IdManager)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdManager)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StarDay)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StarDay)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FinishDay)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FinishDay)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreateDay)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreateDay)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UpdateDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UpdateDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Avatar)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Avatar)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
