﻿@model IEnumerable<Management.Service.ViewModel.ProjectViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Projects</h2>
<a class="span_create_btn btn btn-primary btn-lg" href="/Admin/Project/Create">Create project</a>
@*<span class="span_create_btn btn btn-primary">@Html.ActionLink("Create project", "Create")</span>*@

<table class="table" id="table_Project">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
           <th>Lead</th>
            
            <th></th>
        </tr>
    </thead>
   
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                  @if (!string.IsNullOrEmpty(item.Avatar) )
                  {
                      <img src="@item.Avatar" style="width:60px" />
                  }
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @if (!string.IsNullOrEmpty(item.AvatarLead))
                    {
                        <img src="@Url.Content(item.Avatar) " style="width:60px" />
                    }
                    @item.Leader
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
        }
    </tbody>
 
</table>

@section scripts{

    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css">
    <script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@7.29.2/dist/sweetalert2.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@7.29.2/dist/sweetalert2.min.css">

    <script>
        $(document).ready(function () {
            $('#table_Project').DataTable();
        });
    </script>
}
