﻿body {
   /* padding-top: 50px;*/
    padding-bottom: 20px;
    font-size: 14px !important;
    /*font-family: 'Roboto-Bold'!important;*/
    font-weight:500 !important;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.span_create_btn{
    float:right;
    margin:1%;
}
.span_create_btn a {
   color:#fff;
   text-decoration:none;

}
    .span_create_btn a:hover {
        color: #fff !important;
        text-decoration: none;
    }
/*a:hover {
    color: #fff !important;
    text-decoration: none;
}*/
