﻿<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport">
    <title> Dashboard </title>

    <!-- General CSS Files -->
    <link href="~/Template/assets/modules/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    @*<link href="~/Template/assets/modules/fontawesome/css/all.min.css" rel="stylesheet" />*@
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" rel="stylesheet">


    <!-- CSS Libraries -->
    <link href="~/Template/assets/modules/jqvmap/dist/jqvmap.min.css" rel="stylesheet" />
    <link href="~/Template/assets/modules/weather-icon/css/weather-icons-wind.min.css" rel="stylesheet" />
    <link href="~/Template/assets/modules/weather-icon/css/weather-icons.min.css" rel="stylesheet" />
    <link href="~/Template/assets/modules/summernote/summernote-bs4.css" rel="stylesheet" />


    <!-- Template CSS -->
    <link href="~/Template/assets/css/style.css" rel="stylesheet" />
    <link href="~/Template/assets/css/components.css" rel="stylesheet" />


    <!-- Start GA -->
    <script type="text/javascript" async="" src="https://www.google-analytics.com/analytics.js"></script>
    <script async="" src="https://www.googletagmanager.com/gtag/js?id=UA-94034622-3"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-94034622-3');
    </script>
    <!-- /END GA -->
    <style type="text/css">
        /* Chart.js */
        -webkit-keyframes chartjs-render-animation {
            from

        {
            opacity: 0.99
        }

        to {
            opacity: 1
        }

        }

        keyframes chartjs-render-animation {
            from

        {
            opacity: 0.99
        }

        to {
            opacity: 1
        }

        }

        .chartjs-render-monitor {
            -webkit-animation: chartjs-render-animation 0.001s;
            animation: chartjs-render-animation 0.001s;
        }
    </style>
</head>

<body>
    <div id="app">
        <div class="main-wrapper">
            <div class="navbar-bg"></div>
            <nav class="navbar navbar-expand-lg main-navbar">
                <form class="form-inline mr-auto">
                    <ul class="navbar-nav mr-3">
                        <li><a href="#" data-toggle="sidebar" class="nav-link nav-link-lg"><i class="fas fa-bars"></i></a></li>
                        <li><a href="#" data-toggle="search" class="nav-link nav-link-lg d-sm-none"><i class="fas fa-search"></i></a></li>
                    </ul>
                    <div class="search-element">
                        <input class="form-control" type="search" placeholder="Search" aria-label="Search" data-width="250">
                        <button class="btn" type="submit"><i class="fas fa-search"></i></button>
                        <div class="search-backdrop"></div>
                        <div class="search-result">
                            <div class="search-header">
                                Histories
                            </div>
                            <div class="search-item">
                                <a href="#">How to hack NASA using CSS</a>
                                <a href="#" class="search-close"><i class="fas fa-times"></i></a>
                            </div>
                            <div class="search-item">
                                <a href="#">Kodinger.com</a>
                                <a href="#" class="search-close"><i class="fas fa-times"></i></a>
                            </div>
                            <div class="search-item">
                                <a href="#">#Stisla</a>
                                <a href="#" class="search-close"><i class="fas fa-times"></i></a>
                            </div>
                            <div class="search-header">
                                Result
                            </div>
                            <div class="search-item">
                                <a href="#">
                                    <img class="mr-3 rounded" width="30" src="~/Template/assets/img/products/product-3-50.png" alt="product">
                                    oPhone S9 Limited Edition
                                </a>
                            </div>
                            <div class="search-item">
                                <a href="#">
                                    <img class="mr-3 rounded" width="30" src="~/Template/assets/img/products/product-2-50.png" alt="product">
                                    Drone X2 New Gen-7
                                </a>
                            </div>
                            <div class="search-item">
                                <a href="#">
                                    <img class="mr-3 rounded" width="30" src="~/Template/assets/img/products/product-1-50.png" alt="product">
                                    Headphone Blitz
                                </a>
                            </div>
                            <div class="search-header">
                                Projects
                            </div>
                            <div class="search-item">
                                <a href="#">
                                    <div class="search-icon bg-danger text-white mr-3">
                                        <i class="fas fa-code"></i>
                                    </div>
                                    Stisla Admin Template
                                </a>
                            </div>
                            <div class="search-item">
                                <a href="#">
                                    <div class="search-icon bg-primary text-white mr-3">
                                        <i class="fas fa-laptop"></i>
                                    </div>
                                    Create a new Homepage Design
                                </a>
                            </div>
                        </div>
                    </div>
                </form>
                <ul class="navbar-nav navbar-right">
                    <li class="dropdown dropdown-list-toggle">
                        <a href="#" data-toggle="dropdown" class="nav-link nav-link-lg message-toggle beep"><i class="far fa-envelope"></i></a>
                        <div class="dropdown-menu dropdown-list dropdown-menu-right">
                            <div class="dropdown-header">
                                Messages
                                <div class="float-right">
                                    <a href="#">Mark All As Read</a>
                                </div>
                            </div>
                            <div class="dropdown-list-content dropdown-list-message">
                                <a href="#" class="dropdown-item dropdown-item-unread">
                                    <div class="dropdown-item-avatar">
                                        <img alt="image" src="~/Template/assets/img/avatar/avatar-1.png" class="rounded-circle">
                                        <div class="is-online"></div>
                                    </div>
                                    <div class="dropdown-item-desc">
                                        <b>Kusnaedi</b>
                                        <p>Hello, Bro!</p>
                                        <div class="time">10 Hours Ago</div>
                                    </div>
                                </a>
                                <a href="#" class="dropdown-item dropdown-item-unread">
                                    <div class="dropdown-item-avatar">
                                        <img alt="image" src="~/Template/assets/img/avatar/avatar-2.png" class="rounded-circle">
                                    </div>
                                    <div class="dropdown-item-desc">
                                        <b>Dedik Sugiharto</b>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
                                        <div class="time">12 Hours Ago</div>
                                    </div>
                                </a>
                                <a href="#" class="dropdown-item dropdown-item-unread">
                                    <div class="dropdown-item-avatar">
                                        <img alt="image" src="~/Template/assets/img/avatar/avatar-3.png" class="rounded-circle">
                                        <div class="is-online"></div>
                                    </div>
                                    <div class="dropdown-item-desc">
                                        <b>Agung Ardiansyah</b>
                                        <p>Sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                                        <div class="time">12 Hours Ago</div>
                                    </div>
                                </a>
                                <a href="#" class="dropdown-item">
                                    <div class="dropdown-item-avatar">
                                        <img alt="image" src="~/Template/assets/img/avatar/avatar-4.png" class="rounded-circle">
                                    </div>
                                    <div class="dropdown-item-desc">
                                        <b>Ardian Rahardiansyah</b>
                                        <p>Duis aute irure dolor in reprehenderit in voluptate velit ess</p>
                                        <div class="time">16 Hours Ago</div>
                                    </div>
                                </a>
                                <a href="#" class="dropdown-item">
                                    <div class="dropdown-item-avatar">
                                        <img alt="image" src="~/Template/assets/img/avatar/avatar-5.png" class="rounded-circle">
                                    </div>
                                    <div class="dropdown-item-desc">
                                        <b>Alfa Zulkarnain</b>
                                        <p>Exercitation ullamco laboris nisi ut aliquip ex ea commodo</p>
                                        <div class="time">Yesterday</div>
                                    </div>
                                </a>
                            </div>
                            <div class="dropdown-footer text-center">
                                <a href="#">View All <i class="fas fa-chevron-right"></i></a>
                            </div>
                        </div>
                    </li>
                    <li class="dropdown dropdown-list-toggle">
                        <a href="#" data-toggle="dropdown" class="nav-link notification-toggle nav-link-lg beep"><i class="far fa-bell"></i></a>
                        <div class="dropdown-menu dropdown-list dropdown-menu-right">
                            <div class="dropdown-header">
                                Notifications
                                <div class="float-right">
                                    <a href="#">Mark All As Read</a>
                                </div>
                            </div>
                            @{Html.RenderAction("ListNotification", "Home");}
                        </div>
                    </li>
                    @Html.Partial("_LoginPartial");
                    @*<li class="dropdown">
                            <a href="#" data-toggle="dropdown" class="nav-link dropdown-toggle nav-link-lg nav-link-user">
                                <img alt="image" src="~/Template/assets/img/avatar/avatar-1.png" class="rounded-circle mr-1">
                                <div class="d-sm-none d-lg-inline-block">Hi, Ujang Maman</div>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right">
                                <div class="dropdown-title">Logged in 5 min ago</div>
                                <a href="features-profile.html" class="dropdown-item has-icon">
                                    <i class="far fa-user"></i> Profile
                                </a>
                                <a href="features-activities.html" class="dropdown-item has-icon">
                                    <i class="fas fa-bolt"></i> Activities
                                </a>
                                <a href="features-settings.html" class="dropdown-item has-icon">
                                    <i class="fas fa-cog"></i> Settings
                                </a>
                                <div class="dropdown-divider"></div>
                                <a href="#" class="dropdown-item has-icon text-danger">
                                    <i class="fas fa-sign-out-alt"></i> Logout
                                </a>
                            </div>
                        </li>*@
                </ul>
            </nav>
            <div class="main-sidebar">
                <aside id="sidebar-wrapper">
                    <div class="sidebar-brand">
                        <a href="index.html">Stisla</a>
                    </div>
                    <div class="sidebar-brand sidebar-brand-sm">
                        <a href="index.html">St</a>
                    </div>
                    <ul class="sidebar-menu">
                        <li class="menu-header">Dashboard</li>
                        <li class="nav-item dropdown active">
                            <a href="#" class="nav-link has-dropdown"><i class="fas fa-fire"></i><span>Dashboard</span></a>
                            <ul class="dropdown-menu">
                                @*<li><a class="nav-link" href="/Board/Index">General Dashboard</a></li>*@
                                <li><a class="nav-link" href="/Board/Test">Dashboard</a></li>
                                @*<li class="nav-link"><a class="nav-link" href="index.html">Ecommerce Dashboard</a></li>*@
                            </ul>
                        </li>
                        <li class="menu-header">General</li>

                        <li class="nav-item dropdown ">
                            <a href="#" class="nav-link has-dropdown"><i class="fas fa-fire"></i><span>Project</span></a>
                            <ul class="dropdown-menu">
                                @{Html.RenderAction("ListProject", "Home");}
                            </ul>
                        </li>
                        @*<li class="nav-item dropdown">
                                <a href="#" class="nav-link has-dropdown" data-toggle="dropdown"><i class="fas fa-columns"></i> <span>Project</span></a>
                                <ul class="dropdown-menu">
                                    @{Html.RenderAction("ListProject", "Home");}
                                    <li><a class="nav-link" href="layout-default.html">Default Layout</a></li>
                                        <li><a class="nav-link" href="layout-transparent.html">Transparent Sidebar</a></li>
                                        <li><a class="nav-link" href="layout-top-navigation.html">Top Navigation</a></li>
                                </ul>
                            </li>*@
                        @*<li><a class="nav-link" href="blank.html"><i class="far fa-pencil-ruler"></i> <span>Project</span></a></li>*@
                        @*<li class="nav-item dropdown">
                                <a href="#" class="nav-link has-dropdown"><i class="fas fa-th"></i> <span>Bootstrap</span></a>
                                <ul class="dropdown-menu">
                                    <li><a class="nav-link" href="bootstrap-alert.html">Alert</a></li>
                                    <li><a class="nav-link" href="bootstrap-badge.html">Badge</a></li>
                                    <li><a class="nav-link" href="bootstrap-breadcrumb.html">Breadcrumb</a></li>
                                    <li><a class="nav-link" href="bootstrap-buttons.html">Buttons</a></li>
                                    <li><a class="nav-link" href="bootstrap-card.html">Card</a></li>
                                    <li><a class="nav-link" href="bootstrap-carousel.html">Carousel</a></li>
                                    <li><a class="nav-link" href="bootstrap-collapse.html">Collapse</a></li>
                                    <li><a class="nav-link" href="bootstrap-dropdown.html">Dropdown</a></li>
                                    <li><a class="nav-link" href="bootstrap-form.html">Form</a></li>
                                    <li><a class="nav-link" href="bootstrap-list-group.html">List Group</a></li>
                                    <li><a class="nav-link" href="bootstrap-media-object.html">Media Object</a></li>
                                    <li><a class="nav-link" href="bootstrap-modal.html">Modal</a></li>
                                    <li><a class="nav-link" href="bootstrap-nav.html">Nav</a></li>
                                    <li><a class="nav-link" href="bootstrap-navbar.html">Navbar</a></li>
                                    <li><a class="nav-link" href="bootstrap-pagination.html">Pagination</a></li>
                                    <li><a class="nav-link" href="bootstrap-popover.html">Popover</a></li>
                                    <li><a class="nav-link" href="bootstrap-progress.html">Progress</a></li>
                                    <li><a class="nav-link" href="bootstrap-table.html">Table</a></li>
                                    <li><a class="nav-link" href="bootstrap-tooltip.html">Tooltip</a></li>
                                    <li><a class="nav-link" href="bootstrap-typography.html">Typography</a></li>
                                </ul>
                            </li>
                            <li class="menu-header">Stisla</li>
                            <li class="nav-item dropdown">
                                <a href="#" class="nav-link has-dropdown"><i class="fas fa-th-large"></i> <span>Components</span></a>
                                <ul class="dropdown-menu">
                                    <li><a class="nav-link" href="components-article.html">Article</a></li>
                                    <li><a class="nav-link beep beep-sidebar" href="components-avatar.html">Avatar</a></li>
                                    <li><a class="nav-link" href="components-chat-box.html">Chat Box</a></li>
                                    <li><a class="nav-link beep beep-sidebar" href="components-empty-state.html">Empty State</a></li>
                                    <li><a class="nav-link" href="components-gallery.html">Gallery</a></li>
                                    <li><a class="nav-link beep beep-sidebar" href="components-hero.html">Hero</a></li>
                                    <li><a class="nav-link" href="components-multiple-upload.html">Multiple Upload</a></li>
                                    <li><a class="nav-link beep beep-sidebar" href="components-pricing.html">Pricing</a></li>
                                    <li><a class="nav-link" href="components-statistic.html">Statistic</a></li>
                                    <li><a class="nav-link" href="components-tab.html">Tab</a></li>
                                    <li><a class="nav-link" href="components-table.html">Table</a></li>
                                    <li><a class="nav-link" href="components-user.html">User</a></li>
                                    <li><a class="nav-link beep beep-sidebar" href="components-wizard.html">Wizard</a></li>
                                </ul>
                            </li>
                            <li class="nav-item dropdown">
                                <a href="#" class="nav-link has-dropdown"><i class="far fa-file-alt"></i> <span>Forms</span></a>
                                <ul class="dropdown-menu">
                                    <li><a class="nav-link" href="forms-advanced-form.html">Advanced Form</a></li>
                                    <li><a class="nav-link" href="forms-editor.html">Editor</a></li>
                                    <li><a class="nav-link" href="forms-validation.html">Validation</a></li>
                                </ul>
                            </li>
                            <li class="nav-item dropdown">
                                <a href="#" class="nav-link has-dropdown"><i class="fas fa-map-marker-alt"></i> <span>Google Maps</span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="gmaps-advanced-route.html">Advanced Route</a></li>
                                    <li><a href="gmaps-draggable-marker.html">Draggable Marker</a></li>
                                    <li><a href="gmaps-geocoding.html">Geocoding</a></li>
                                    <li><a href="gmaps-geolocation.html">Geolocation</a></li>
                                    <li><a href="gmaps-marker.html">Marker</a></li>
                                    <li><a href="gmaps-multiple-marker.html">Multiple Marker</a></li>
                                    <li><a href="gmaps-route.html">Route</a></li>
                                    <li><a href="gmaps-simple.html">Simple</a></li>
                                </ul>
                            </li>
                            <li class="nav-item dropdown">
                                <a href="#" class="nav-link has-dropdown"><i class="fas fa-plug"></i> <span>Modules</span></a>
                                <ul class="dropdown-menu">
                                    <li><a class="nav-link" href="modules-calendar.html">Calendar</a></li>
                                    <li><a class="nav-link" href="modules-chartjs.html">ChartJS</a></li>
                                    <li><a class="nav-link" href="modules-datatables.html">DataTables</a></li>
                                    <li><a class="nav-link" href="modules-flag.html">Flag</a></li>
                                    <li><a class="nav-link" href="modules-font-awesome.html">Font Awesome</a></li>
                                    <li><a class="nav-link" href="modules-ion-icons.html">Ion Icons</a></li>
                                    <li><a class="nav-link" href="modules-owl-carousel.html">Owl Carousel</a></li>
                                    <li><a class="nav-link" href="modules-sparkline.html">Sparkline</a></li>
                                    <li><a class="nav-link" href="modules-sweet-alert.html">Sweet Alert</a></li>
                                    <li><a class="nav-link" href="modules-toastr.html">Toastr</a></li>
                                    <li><a class="nav-link" href="modules-vector-map.html">Vector Map</a></li>
                                    <li><a class="nav-link" href="modules-weather-icon.html">Weather Icon</a></li>
                                </ul>
                            </li>
                            <li class="menu-header">Pages</li>
                            <li class="nav-item dropdown">
                                <a href="#" class="nav-link has-dropdown"><i class="far fa-user"></i> <span>Auth</span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="auth-forgot-password.html">Forgot Password</a></li>
                                    <li><a href="auth-login.html">Login</a></li>
                                    <li><a class="beep beep-sidebar" href="auth-login-2.html">Login 2</a></li>
                                    <li><a href="auth-register.html">Register</a></li>
                                    <li><a href="auth-reset-password.html">Reset Password</a></li>
                                </ul>
                            </li>
                            <li class="nav-item dropdown">
                                <a href="#" class="nav-link has-dropdown"><i class="fas fa-exclamation"></i> <span>Errors</span></a>
                                <ul class="dropdown-menu">
                                    <li><a class="nav-link" href="errors-503.html">503</a></li>
                                    <li><a class="nav-link" href="errors-403.html">403</a></li>
                                    <li><a class="nav-link" href="errors-404.html">404</a></li>
                                    <li><a class="nav-link" href="errors-500.html">500</a></li>
                                </ul>
                            </li>
                            <li class="nav-item dropdown">
                                <a href="#" class="nav-link has-dropdown"><i class="fas fa-bicycle"></i> <span>Features</span></a>
                                <ul class="dropdown-menu">
                                    <li><a class="nav-link" href="features-activities.html">Activities</a></li>
                                    <li><a class="nav-link" href="features-post-create.html">Post Create</a></li>
                                    <li><a class="nav-link" href="features-posts.html">Posts</a></li>
                                    <li><a class="nav-link" href="features-profile.html">Profile</a></li>
                                    <li><a class="nav-link" href="features-settings.html">Settings</a></li>
                                    <li><a class="nav-link" href="features-setting-detail.html">Setting Detail</a></li>
                                    <li><a class="nav-link" href="features-tickets.html">Tickets</a></li>
                                </ul>
                            </li>
                            <li class="nav-item dropdown">
                                <a href="#" class="nav-link has-dropdown"><i class="fas fa-ellipsis-h"></i> <span>Utilities</span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="utilities-contact.html">Contact</a></li>
                                    <li><a class="nav-link" href="utilities-invoice.html">Invoice</a></li>
                                    <li><a href="utilities-subscribe.html">Subscribe</a></li>
                                </ul>
                            </li>
                            <li><a class="nav-link" href="credits.html"><i class="fas fa-pencil-ruler"></i> <span>Credits</span></a></li>*@
                    </ul>

                    <div class="mt-4 mb-4 p-3 hide-sidebar-mini">
                        <a href="https://getstisla.com/docs" class="btn btn-primary btn-lg btn-block btn-icon-split">
                            <i class="fas fa-rocket"></i> Documentation
                        </a>
                    </div>
                </aside>
            </div>
            @RenderBody();
            <footer class="main-footer">
                <div class="footer-left">
                    Copyright &copy; 2018 <div class="bullet"></div> Design By <a href="https://nauval.in/">Muhamad Nauval Azhar</a>
                </div>
                <div class="footer-right">
                    2.3.0
                </div>
            </footer>
        </div>
    </div>
</body>
</html>
<!-- General JS Scripts -->
@*<script src="~/Template/assets/modules/jquery.min.js"></script>
    <script src="~/Template/assets/modules/popper.js"></script>
    <script src="~/Template/assets/modules/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/Template/assets/modules/nicescroll/jquery.nicescroll.min.js"></script>
    <script src="~/Template/assets/modules/moment.min.js"></script>*@

<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.nicescroll/3.7.6/jquery.nicescroll.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
<script src="~/Template/assets/js/stisla.js"></script>

<!-- JS Libraies -->
<script src="~/Template/assets/modules/jquery.sparkline.min.js"></script>
<script src="~/Template/assets/modules/chart.min.js"></script>
<script src="~/Template/assets/modules/owlcarousel2/dist/owl.carousel.min.js"></script>
<script src="~/Template/assets/modules/summernote/summernote-bs4.js"></script>
<script src="~/Template/assets/modules/chocolat/dist/js/jquery.chocolat.min.js"></script>


<!-- Template JS File -->
<script src="~/Template/assets/js/scripts.js"></script>
<script src="~/Template/assets/js/custom.js"></script>

<!-- Page Specific JS File -->


<script src="~/Template/assets/js/page/index.js"></script>
<script src="~/Template/assets/js/page/index-0.js"></script>
<script src="~/Template/assets/modules/prism/prism.js"></script>
<script src="~/Template/assets/js/page/bootstrap-modal.js"></script>


<script src="~/Template/assets/modules/datatables/datatables.min.js"></script>
<script src="~/Template/assets/modules/datatables/jquery-ui.min.js"></script>
<script src="~/Template/assets/modules/datatables/dataTables.select.min.js"></script>
<script src="~/Template/assets/modules/datatables/dataTables.bootstrap4.min.js"></script>

<script src="~/Template/assets/js/page/modules-datatables.js"></script>
<script src="~/Template/assets/modules/izitoast/js/iziToast.min.js"></script>
<script src="~/Template/assets/js/page/modules-toastr.js"></script>

<script src="~/Template/assets/modules/jquery-selectric/jquery.selectric.min.js"></script>
<script src="~/Template/assets/js/jquery.uploadPreview.min.js"></script>
<script src="~/Template/assets/modules/dist/bootstrap-tagsinput.min.js"></script>
@*<script src="~/Template/assets/js/page/features-post-create.js"></script>*@


<!----------- Page Detail------------>
<script>
    var url = "/Module/UpdateModule";
    var viewModel = {};
    var title = "";
    //Issue Type
    $('.btn_issueType').click(function (e) {
        e.preventDefault();
        var id = $(this).attr('data-id');
        var imgsrc = $(this).find('img').attr('src');
        var imgdes = $('#issueType').find('img').attr('src');
        var idDes = $('#issueType').attr('data-id');
        var htmlDes = $('#issueType strong').html();
        var htmlSrc = $(this).find('strong').html();
        $('#issueType').attr('value', id);
        $('#issueType').attr('data-id', id);
        $('#issueType').find('img').attr('src', imgsrc);
        $('#issueType').find('strong').html(htmlSrc);
        $(this).attr('data-id', idDes);
        $(this).find('img').attr('src', imgdes);
        $(this).find('strong').html(htmlDes);
        var module = $('#IdModule');
        viewModel = {};
        viewModel.IdModule = module.attr('data-id');
        viewModel.ModuleName = module.attr('data-name');
        viewModel.IssueType = id;
        title = "Update IssueType successfully of Issue-" + viewModel.ModuleName + "!";;
        Update(url, viewModel, title);
    });

    //PriorityType
    $('.btn_priorityType').click(function (e) {
        e.preventDefault();
        var id = $(this).attr('data-id');
        var imgsrc = $(this).find('img').attr('src');
        var imgdes = $('#priorityType').find('img').attr('src');
        var idDes = $('#priorityType').attr('data-id');
        var htmlDes = $('#priorityType strong').html();
        var htmlSrc = $(this).find('strong').html();
        $('#priorityType').attr('value', id);
        $('#priorityType').attr('data-id', id);
        $('#priorityType').find('img').attr('src', imgsrc);
        $('#priorityType').find('strong').html(htmlSrc);
        $(this).attr('data-id', idDes);
        $(this).find('img').attr('src', imgdes);
        $(this).find('strong').html(htmlDes);
        //update data ajax
        var module = $('#IdModule');
        viewModel = {};
        viewModel.IdModule = module.attr('data-id');
        viewModel.ModuleName = module.attr('data-name');
        viewModel.PriorityType = id;
        title = "Update PriorityType successfully of Issue-" + viewModel.ModuleName + "!";
        Update(url, viewModel, title);
    });

    var valOld;
    var valNew;
    $('.input_point').click(function (e) {
        e.preventDefault();
        valOld = valNew = $(this).val();
        $(this).addClass('background', '#fff');
        $('.btn_change').show();
        $('.btn_close').show();
    });
    $(".input_point").on('change keyup paste', function () {
        valNew = $(this).val();
    });
    $('.btn_close').click(function (e) {
        e.preventDefault();
        $('.btn_change').hide();
        $('.btn_close').hide();
        $(".input_point").val(valOld);
    });
    $('.btn_change').click(function (e) {
        e.preventDefault();
        $('.btn_change').hide();
        $('.btn_close').hide();
        $(".input_point").val(valNew);
        valOld = valNew;
        title = "Update Time successfully of Issue -" + viewModel.ModuleName + "!";
        var module = $('#IdModule');
        viewModel = {};
        viewModel.IdModule = module.attr('data-id');
        viewModel.ModuleName = module.attr('data-name');
        viewModel.Point = valNew;
        Update(url, viewModel, title);
        location.reload();
    });
    //$('.input_description_issue').dblclick(function () {
    //    $('.input_description_issue').removeAttr('disabled');
    //    $('.btn_save_description').show();
    //    $('.btn_close_description').show();
    //});
    //$('.btn_save_description').click(function (e) {
    //    e.preventDefault();
    //    $('.btn_save_description').hide();
    //    $('.btn_close_description').hide();
    //    $('.input_description_issue').attr('disabled', 'disabled');

    //});
    //$('.btn_close_description').click(function (e) {
    //    e.preventDefault();
    //    $('.btn_save_description').hide();
    //    $('.btn_close_description').hide();
    //    $('.input_description_issue').attr('disabled', 'disabled');
    //});

    //IssueStatus
    $('.btn_issueStatus').click(function (e) {
        e.preventDefault();
        var id = $(this).attr('data-id');
        var classSrc = $(this).find('strong').attr('data-id');
        var classDes = $('#issueStatus').find('strong').attr('data-id');
        var idDes = $('#issueStatus').attr('data-id');
        var htmlDes = $('#issueStatus strong').html();
        var htmlSrc = $(this).find('strong').html();
        $('#issueStatus').attr('value', id);
        $('#issueStatus').attr('data-id', id);
        //add class new for des
        $('#issueStatus').find('strong').removeClass(classDes);
        $('#issueStatus').find('strong').addClass(classSrc);
        $('#issueStatus').find('strong').html(htmlSrc);
        $('#issueStatus').find('strong').attr('data-id', classSrc);
        //add class new for src
        $(this).attr('data-id', idDes);
        $(this).find('strong').removeClass(classSrc);
        $(this).find('strong').addClass(classDes);
        $(this).find('strong').html(htmlDes);
        $(this).find('strong').attr('data-id', classDes);
        //update data ajax
        var module = $('#IdModule');
        viewModel = {};
        viewModel.IdModule = module.attr('data-id');
        viewModel.ModuleName = module.attr('data-name');
        viewModel.IssueStatus = id;
        title = "Update Status successfully of Issue -" + viewModel.ModuleName + "!";
        Update(url, viewModel, title);
    });

    //AssignUser
    $('.btn_assignUser').click(function (e) {
        e.preventDefault();
        var idSrc = $(this).attr('data-id');
        var idDes = $('#assign_user').attr('data-id');
        var nameSrc = $(this).find('strong').html();
        var nameDes = $('#assign_user').find('strong').html();
        var imgSrc = $(this).find('img').attr('src');
        var imgDes = $('#assign_user').find('img').attr('src');

        //change data src to des
        $('#assign_user').attr('data-id', idSrc);
        $('#assign_user').find('img').attr('src', imgSrc);
        $('#assign_user').find('strong').html(nameSrc);

        //change data des to src
        $(this).attr('data-id', idDes);
        $(this).find('strong').html(nameDes);
        $(this).find('img').attr('src', imgDes);

        //update data ajax
        var module = $('#IdModule');
        viewModel = {};
        viewModel.IdModule = module.attr('data-id');
        viewModel.ModuleName = module.attr('data-name');
        viewModel.AssigneeId = idSrc;
        viewModel.AssigneeFrom = nameDes;
        viewModel.AssigneeTo = nameSrc;
        title = "Update Assignee successfully of Issue -" + viewModel.ModuleName + "!";
        Update(url, viewModel, title);
    });

    // Report User
    $('.btn_reportUser').click(function (e) {
        e.preventDefault();
        var idSrc = $(this).attr('data-id');
        var idDes = $('#report_user').attr('data-id');
        var nameSrc = $(this).find('strong').html();
        var nameDes = $('#report_user').find('strong').html();
        var imgSrc = $(this).find('img').attr('src');
        var imgDes = $('#report_user').find('img').attr('src');

        //change data src to des
        $('#report_user').attr('data-id', idSrc);
        $('#report_user').find('img').attr('src', imgSrc);
        $('#report_user').find('strong').html(nameSrc);

        //change data des to src
        $(this).attr('data-id', idDes);
        $(this).find('strong').html(nameDes);
        $(this).find('img').attr('src', imgDes);

        //update data ajax
        var module = $('#IdModule');
        viewModel = {};
        viewModel.IdModule = module.attr('data-id');
        viewModel.ModuleName = module.attr('data-name');
        viewModel.ReporterId = idSrc;
        viewModel.ReporterFrom = nameDes;
        viewModel.ReporterTo = nameSrc;
        title = "Update Reporter successfully of Issue -" + viewModel.ModuleName + "!";
        Update(url, viewModel, title);
    });

    function Update(url, model, title) {
        $.ajax({
            type: "POST",
            url: url,
            data: model,
            success: function (response) {
                iziToast.success({
                    title: 'Update success!',
                    message: title,
                    position: 'topRight'
                });
            }
        });
    };
</script>

<!----------- Page Detail------------>
<!----------- Page Index Project------------>
@*<script>
        $('.btn_detail_proejct').click(function (e) {
            e.preventDefault();
            var idModule = $(this).attr('id');

            $('.task_project').load("/Module/ModuleDetail/" + idModule + " .card", "name=value&name2=value2", function (response, status, request) {
                this;
            });
            //$.ajax({
            //    async:true,
            //    type: "GET",
            //    url: "/Module/ModuleDetail/" + idModule +"",
            //    dataType: "json",
            //    success: function (response) {
            //        $('.task_project').html(response);
            //    },
            //     error: function (data) {
            //        alert("There was an error. Try again please!"+ data);
            //    }
            //});
        });
    </script>*@
<script>
    $(document).ready(function () {
        var value = $("#parameter_project").val();
        if (value!='' ||value!="") {
            $('.task-project-' + value).show();
        }
        $('.btn_detail_proejct').click(function (e) {
            e.preventDefault();
            var idModule = $(this).attr('id');
            $('.task_project').hide();
            $('.task-project-' + idModule).show();
        });
    });

</script>
<script src='https://cdn.tiny.cloud/1/kkfb0vhbre7kdhdf3p8v8u5cdw8qn8lzy56tea7wazjlicz1/tinymce/5/tinymce.min.js' referrerpolicy="origin">
</script>
<script>
    tinymce.init({
        selector: '#mytextarea'
    });
</script>
<!----------- Page Index Project------------>
<!----------- Page Create Project------------>
<script>
    $('.btn_leader').click(function (e) {
        e.preventDefault();
        var idSrc = $(this).attr('data-id');
        var idDes = $('#leader_user').attr('data-id');
        var nameSrc = $(this).find('strong').html();
        var nameDes = $('#leader_user').find('strong').html();
        var imgSrc = $(this).find('img').attr('src');
        var imgDes = $('#leader_user').find('img').attr('src');

        //change data src to des
        $('#leader_user').attr('data-id', idSrc);
        $('#leader_user').find('img').attr('src', imgSrc);
        $('#leader_user').find('strong').html(nameSrc);

        //change data des to src
        $(this).attr('data-id', idDes);
        $(this).find('strong').html(nameDes);
        $(this).find('img').attr('src', imgDes);
        $('#input_leader').val(idSrc);
    });
</script>
<script>
    $(document).ready(function () {
        $('.click2edit').summernote('destroy');
        $('#edit').click(function (e) {
            e.preventDefault();
            $('.click2edit').summernote({ focus: true });
        });
        $('#save').click(function (e) {
            //var markup = $('.click2edit').summernote('code');
            $('.click2edit').summernote('destroy');
        });

        var save = function () {

        };
    });

</script>
<!----------- Page Create Project------------>

@RenderSection("scripts", required: false)
