﻿@model IEnumerable<Management.Service.ViewModel.ModuleViewModel>
@using Management.Common;
@{
    var j = 1;
}

    <head>
        <meta charset="UTF-8">
        <meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport">
        <title> Dashboard </title>

        <!-- General CSS Files -->
        <link href="~/Template/assets/modules/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
        @*<link href="~/Template/assets/modules/fontawesome/css/all.min.css" rel="stylesheet" />*@
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" rel="stylesheet">


        <!-- CSS Libraries -->
        <link href="~/Template/assets/modules/jqvmap/dist/jqvmap.min.css" rel="stylesheet" />
        <link href="~/Template/assets/modules/weather-icon/css/weather-icons-wind.min.css" rel="stylesheet" />
        <link href="~/Template/assets/modules/weather-icon/css/weather-icons.min.css" rel="stylesheet" />
        <link href="~/Template/assets/modules/summernote/summernote-bs4.css" rel="stylesheet" />


        <!-- Template CSS -->
        <link href="~/Template/assets/css/style.css" rel="stylesheet" />
        <link href="~/Template/assets/css/components.css" rel="stylesheet" />


        <!-- Start GA -->
        <script type="text/javascript" async="" src="https://www.google-analytics.com/analytics.js"></script>
        <script async="" src="https://www.googletagmanager.com/gtag/js?id=UA-94034622-3"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag() { dataLayer.push(arguments); }
            gtag('js', new Date());

            gtag('config', 'UA-94034622-3');
        </script>
        <!-- /END GA -->
        <style type="text/css">
            /* Chart.js */
            -webkit-keyframes chartjs-render-animation {
                from

            {
                opacity: 0.99
            }

            to {
                opacity: 1
            }

            }

            keyframes chartjs-render-animation {
                from

            {
                opacity: 0.99
            }

            to {
                opacity: 1
            }

            }

            .chartjs-render-monitor {
                -webkit-animation: chartjs-render-animation 0.001s;
                animation: chartjs-render-animation 0.001s;
            }
        </style>
    </head>

<div class="card">
    <div class="card-header">
        <h4>@Model.First().Project.Name</h4>
        <div class="card-header-action">
            <a href="#" class="btn btn-primary">View All</a>
        </div>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-striped" id="table-3">
                <thead>
                    <tr>
                        <th class="text-center">
                            #
                        </th>
                        <th>Task Name</th>
                        <th>Progress</th>
                        <th>Author</th>
                        <th>Due Date</th>
                        <th>Status</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @j
                            </td>
                            <td>
                                @item.Name
                                <div class="table-links">
                                    in <a href="#">@Model.First().Project.Name</a>
                                    <div class="bullet"></div>
                                    <a href="#">View</a>
                                </div>
                            </td>
                            <td class="align-middle">
                                <div class="progress" data-height="4" data-toggle="tooltip" title="100%">
                                    <div class="progress-bar bg-success" data-width="100%"></div>
                                </div>
                            </td>
                            <td>
                                @if (string.IsNullOrEmpty(item.AssigneeAvatar))
                                {
                                    <img alt="image" src="~/Template/assets/img/avatar/avatar-5.png" class="rounded-circle" width="35" data-toggle="tooltip" title="@item.AssigneeName ">
                                }
                                else
                                {
                                    <img alt="image" src="@Url.Content(item.AssigneeAvatar)" class="rounded-circle" width="35" data-toggle="tooltip" title=" @item.AssigneeName ">
                                }
                            </td>
                            <td>@DateTime.Now</td>
                            @switch (item.Status)
                            {
                                case ((int)(EnumConstant.IsssueStatus.Todo)):
                                    <td><div class="badge badge-info"> To-do</div></td>
                                    break;
                                case ((int)(EnumConstant.IsssueStatus.Progress)):
                                    <td><div class="badge badge-warning"> In Progress</div></td>
                                    break;
                                case ((int)(EnumConstant.IsssueStatus.Review)):
                                    <td><div class="badge badge-secondary">Review</div></td>

                                    break;
                                case ((int)(EnumConstant.IsssueStatus.Done)):
                                    <td><div class="badge badge-success">  Done</div></td>

                                    break;
                                case ((int)(EnumConstant.IsssueStatus.Close)):
                                    <td><div class="badge badge-danger"> Done</div></td>
                                    break;
                                default:
                                    <td><div class="badge badge-info">To-do</div></td>
                                    break;
                            }
                            <td>
                                <a href="#" class="btn btn-secondary">Detail</a>
                            </td>
                        </tr>
                        { j = j + 1; }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.nicescroll/3.7.6/jquery.nicescroll.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
<script src="~/Template/assets/js/stisla.js"></script>

<!-- JS Libraies -->
<script src="~/Template/assets/modules/jquery.sparkline.min.js"></script>
<script src="~/Template/assets/modules/chart.min.js"></script>
<script src="~/Template/assets/modules/owlcarousel2/dist/owl.carousel.min.js"></script>
<script src="~/Template/assets/modules/summernote/summernote-bs4.js"></script>
<script src="~/Template/assets/modules/chocolat/dist/js/jquery.chocolat.min.js"></script>


<!-- Template JS File -->
<script src="~/Template/assets/js/scripts.js"></script>
<script src="~/Template/assets/js/custom.js"></script>

<!-- Page Specific JS File -->


<script src="~/Template/assets/js/page/index.js"></script>
<script src="~/Template/assets/js/page/index-0.js"></script>
<script src="~/Template/assets/modules/prism/prism.js"></script>
<script src="~/Template/assets/js/page/bootstrap-modal.js"></script>


<script src="~/Template/assets/modules/datatables/datatables.min.js"></script>
<script src="~/Template/assets/modules/datatables/jquery-ui.min.js"></script>
<script src="~/Template/assets/modules/datatables/dataTables.select.min.js"></script>
<script src="~/Template/assets/modules/datatables/dataTables.bootstrap4.min.js"></script>

<script src="~/Template/assets/js/page/modules-datatables.js"></script>
<script src="~/Template/assets/modules/izitoast/js/iziToast.min.js"></script>
<script src="~/Template/assets/js/page/modules-toastr.js"></script>
