﻿@using Microsoft.AspNet.Identity

@{

    var userName = string.Empty;
    var userAvatar = string.Empty;
    if (Request.IsAuthenticated)
    {
        var userId = User.Identity.GetUserId();
        userName = Html.Action("GetUserById", "Project", new { id = userId }).ToString();
        userAvatar = Html.Action("GetUserAvatar", "Project", new { id = userId }).ToString();
    }

}


@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()
        <li class="dropdown">
            <a href="#" data-toggle="dropdown" class="nav-link dropdown-toggle nav-link-lg nav-link-user">
                @if (string.IsNullOrEmpty(userAvatar))
                {
                    <img alt="image" src="~/Template/assets/img/avatar/avatar-1.png" class="rounded-circle mr-1">
                }
                else
                {
                    <img alt="image" src="@Url.Content(userAvatar)" class="rounded-circle mr-1 img_icon_avatar">
                }
                <div class="d-sm-none d-lg-inline-block">
                    Hi, @userName
                </div>
            </a>
            <div class="dropdown-menu dropdown-menu-right">
                @*<div class="dropdown-title">Logged in 5 min ago</div>*@
                <a href="/Manage/Index" class="dropdown-item has-icon">
                    <i class="far fa-user"></i> Profile
                </a>
                <a href="/Manage/ChangePassword" class="dropdown-item has-icon">
                    <i class="fas fa-bolt"></i> Change Password
                </a>
                @*<a href="features-settings.html" class="dropdown-item has-icon">
                    <i class="fas fa-cog"></i> Settings
                </a>*@
                <div class="dropdown-divider"></div>
                <a href="javascript:document.getElementById('logoutForm').submit()" class="dropdown-item has-icon text-danger">
                    <i class="fas fa-sign-out-alt"></i> Logout
                </a>
            </div>
        </li>
        <input id="input_user_info" data-name="@userName" data-avatar="@userAvatar" type="hidden" />
    }
}
else
{
    <a href="/Account/Login" data-toggle="" id="loginLink" class="nav-link  nav-link-lg nav-link-user">Login</a>
    <a href="/Account/Register" data-toggle="" id="loginLink" class="nav-link  nav-link-lg nav-link-user">Register</a>
}

