﻿@model IEnumerable<Management.Service.ViewModel.ProjectViewModel>

@foreach (var item in Model)
{
    <li>
        <a class="nav-link" href="/Project/Index/?projectId=@item.Id">
            @if (string.IsNullOrEmpty(item.Avatar))
            {
                <img alt="image" src="~/Upload/project/image_project2.svg" class="rounded-circle mr-1 img_icon_avatar">
            }
            else
            {
                <img alt="image" src="@Url.Content(item.Avatar)" class="rounded-circle mr-1 img_icon_avatar">
            }
            @item.Name
        </a>
    </li>
}

