﻿@using Management.Common
@model List<Management.Service.ViewModel.NotificationViewModel>
@if (Model.Count > 0)
{
    <div class="dropdown-list-content dropdown-list-icons">
        @foreach (var item in Model)
        {
            switch (item.TypeId)
            {
                case ((int)(EnumConstant.NotificationType.Comment)):
                    <a href="/Module/Detail/?id=@item.ModuleId" class="dropdown-item dropdown-item-unread">
                        <div class="dropdown-item-icon bg-primary text-white">
                            <i class="fas fa-comment"></i>
                        </div>
                        <div class="dropdown-item-desc">
                            @Html.Raw(item.Description)
                            <div class="time text-primary">@item.CreateDate</div>
                        </div>
                    </a>
                    break;

                case ((int)(EnumConstant.NotificationType.Logwork)):
                    <a href="/Module/Detail/?id=@item.ModuleId" class="dropdown-item dropdown-item-unread">
                        <div class="dropdown-item-icon bg-info text-white">
                            <i class="fas fa-user"></i>
                        </div>
                        <div class="dropdown-item-desc">
                            @Html.Raw(item.Description)
                            <div class="time text-primary">@item.CreateDate</div>
                        </div>
                    </a>
                    break;
                case ((int)(EnumConstant.NotificationType.UpdateIssue)):
                    <a href="/Module/Detail/?id=@item.ModuleId" class="dropdown-item dropdown-item-unread">
                        <div class="dropdown-item-icon bg-success text-white">
                            <i class="fas fa-check"></i>
                        </div>
                        <div class="dropdown-item-desc">
                            @Html.Raw(item.Description)
                            <div class="time text-primary">@item.CreateDate</div>
                        </div>
                    </a>
                    break;
                default:
                    break;
            }

        }

        <div class="dropdown-footer text-center">
            <a href="/Notification/Index">View All <i class="fas fa-chevron-right"></i></a>
        </div>
    </div>
}
@*<div class="dropdown-list-content dropdown-list-icons">

        <a href="#" class="dropdown-item dropdown-item-unread">
            <div class="dropdown-item-icon bg-primary text-white">
                <i class="fas fa-code"></i>
            </div>
            <div class="dropdown-item-desc">
                Template update is available now!
                <div class="time text-primary">2 Min Ago</div>
            </div>
        </a>
        <a href="#" class="dropdown-item">
            <div class="dropdown-item-icon bg-info text-white">
                <i class="far fa-user"></i>
            </div>
            <div class="dropdown-item-desc">
                <b>You</b> and <b>Dedik Sugiharto</b> are now friends
                <div class="time">10 Hours Ago</div>
            </div>
        </a>
        <a href="#" class="dropdown-item">
            <div class="dropdown-item-icon bg-success text-white">
                <i class="fas fa-check"></i>
            </div>
            <div class="dropdown-item-desc">
                <b>Kusnaedi</b> has moved task <b>Fix bug header</b> to <b>Done</b>
                <div class="time">12 Hours Ago</div>
            </div>
        </a>
        <a href="#" class="dropdown-item">
            <div class="dropdown-item-icon bg-danger text-white">
                <i class="fas fa-exclamation-triangle"></i>
            </div>
            <div class="dropdown-item-desc">
                Low disk space. Let's clean it!
                <div class="time">17 Hours Ago</div>
            </div>
        </a>
        <a href="#" class="dropdown-item">
            <div class="dropdown-item-icon bg-info text-white">
                <i class="fas fa-bell"></i>
            </div>
            <div class="dropdown-item-desc">
                Welcome to Stisla template!
                <div class="time">Yesterday</div>
            </div>
        </a>
    </div>
    <div class="dropdown-footer text-center">
        <a href="#">View All <i class="fas fa-chevron-right"></i></a>
    </div>*@
